[2020-05-14 13:18] drkarthi commented on #2426
That's great! I am currently working on a custom materialization for our project using the pattern described in @jtcohen6 's response. I would be happy to contribute if that works!

[2020-05-14 14:40] drewbanin opened #2449 "Raise a better error message if dbt parses the same file twice due to misconfiguration"
### Describe the feature
If a macro is addressed twice in a dbt project, then dbt will fail to compile with:
[code]

This is confusing because there is actually on a single file and the macro is _not_ defined twice, dbt just doesn't recognize that it has already parsed the file.

The root cause of an error like this is a misconfiguration like:
[code]

Instead, dbt should raise the following error

[2020-05-14 16:52] drewbanin commented on #2328
hey @Raalsky - cool idea! I think it could be sensible to use a proper parser in the future, but in general, I don't think the use-case requires it. The command line is a constrained programming environment, and it's probably not an ideal place to define deeply nested sets of selectors.

I'm happy to keep this in mind for the future -- maybe something like this would make more sense if we added ne

[2020-05-14 18:39] beckjake opened #2451 "The create_adapter_plugin script emits a v1 config file"
### Describe the bug
The create_adapter_plugin emits a v1 config file, but that results in a warning on every dbt run for users.

### Steps To Reproduce
Create a plugin with the script
Try to use it

### Expected behavior
I expect a `dbt_project.yml` with `config-version: 2`.

### System information
**The output of `dbt --version`:**
0.17.0rc1

[2020-05-14 18:41] drewbanin commented on #1153
@Dandandan awesome! Feel free to submit a PR that:
1. Adds the athena plugin to [this folder](https://github.com/fishtown-analytics/docs.getdbt.com/tree/master/website/docs/docs/supported-databases) (you can follow the format for existing plugins)
2. Adds a link to this new file in [the sidebar](https://github.com/fishtown-analytics/docs.getdbt.com/blob/master/website/sidebars.js#L12)

If all goes

[2020-05-14 19:58] beckjake opened #2452 "On commits to the dbt-release repository, check out dbt and build wheels"
### Describe the feature
See #2436

This is an initial step on improving the release process.

For now, I've decided upon this very arbitrary file format:
[code]

The first three lines must be `commit: ...`, `version: ...`, and `branch: ...`. All data after that, `strip()`ed, will become the github release notes (which this issue does not cover - just ignore that for now).

To create a release, us

[2020-05-14 20:00] beckjake opened #2453 "Once wheels are built for CD, automatically test them!"
### Describe the feature

See #2436 and #2452

When a CI build happens on the dbt-release repository, the generated wheels should be pip installed and tested with dbt's integration test suite.

In the previous issue, I said we should run `dbt debug` on the wheels. We should add a testing phase that runs the dbt integration suite, but using the installed version of dbt.

I don't think this should b

[2020-05-14 20:04] drewbanin commented on #2451
@beckjake do you think we should try to make this happen for octavius catto? I think it's not crazy to ask folks to run the script with the latest dev branch, but i'd be happy to incorporate it for 0.17.0 if we can make it happen too!

[2020-05-14 20:07] beckjake opened #2454 "Add changelog updating to the release process"
### Describe the feature
See #2436 and #2452

The dbt-release repository should update CHANGELOG.md to include version release dates as part of the version bumping process. The process can assume that the changelog is well-formed and follows the existing pattern of headers `dbt {version} (Release TBD)` and `dbt {version} (May 14, 2020)`.

If it's a prerelease, add a line with the version and a dat

[2020-05-14 20:08] beckjake commented on #2451
This is such a tiny change, I'm just going to open a PR for it.

[2020-05-14 21:29] beckjake opened #2456 "After tests complete, create homebrew packages"
### Describe the feature
See #2436, #2452, #2453,  #2457

Once we've tested the created wheels (on linux) and uploaded them to pypi, a circleci pipeline stage should build a homebrew formula update, test installing it from file, commit that, and then perform the existing homebrew bottling stage that already happens in `homebrew-dbt`.

The interesting thing to do here is to create the list of depen

[2020-05-14 21:31] beckjake opened #2457 "After release tests complete, upload to pypi"
### Describe the feature
See #2436, #2452, and #2453

When release tests for a release complete, upload the resulting packages to pypi.

[2020-05-14 21:41] beckjake opened #2458 "After tests complete, build docker images"
### Describe the feature
See #2436, #2452, #2453, #2457

Once tests complete for a release, we should build, tag, and push docker images with the version as the tag to the `fishtownanalytics/dbt` docker repository. Currently I run this locally, I assume it's not too hard in circleci to push docker images.

[2020-05-15 04:15] ola-rozenfeld commented on #2368
+1, I have a related problem: dbt complains about an environment variable that *is* actually defined:

[code]

[2020-05-15 08:38] DmitryMaletin opened #2459 "Add json_schema to validate .yml files"
### Describe the feature
There are many  editors right now have support of LanguageServiceProtocal (lsp).
As for now Yaml & JSON both have dedicated lsp implemantation.
As an example [VScode has an extension](https://marketplace.visualstudio.com/items?itemName=redhat.vscode-yaml):
## Features
![screencast](https://raw.githubusercontent.com/redhat-developer/vscode-yaml/master/images/demo.gif)

1. Y

[2020-05-15 10:58] watermanio commented on #2459
This would be super useful.

[2020-05-15 14:12] beckjake commented on #2451
Fixed in #2455

[2020-05-15 14:12] #2451 closed

[2020-05-15 17:34] jtcohen6 opened #2460 "--fail-fast msg typo"
### Describe the bug
Typo in `--fail-fast` runner message:
[code]
should say
[code]

**The output of `dbt --version`:**
[code]

[2020-05-15 18:11] #2374 closed

[2020-05-15 18:13] cabouffard commented on #2368
For what's is worth, a fellow on Slack has suggested setting default values in the settings

Here is an example.
[code]

Otherwise, Claire also suggested on Slack that you can force a `--target` when running `dbt deps` like so: `dbt deps --target temporary_fix` and create that entry in the configuration file:

[code]

Here is the [Slack Thread](https://getdbt.slack.com/archives/C2JRRQDTL/p15883600

[2020-05-15 19:58] beckjake opened #2463 "When dbt encounters two sources with the same name, it crashes with an exception"
### Describe the bug
When dbt hits a duplicate source, it crashes with a bad error about `'UnpatchedSourceDefinition' object has no attribute 'source_name'`.

### Steps To Reproduce
1) Define a source and a table
2) Define the table a second time (either in a new source with the same name or a second table in the original source)
3) `dbt compile`.

[code]

### Expected behavior
I should get this e

[2020-05-15 19:59] sethwoodworth commented on #1968
Adding my $.02:  It would be helpful for my use case, where I am auto-generating my warehouse's sources, to be able to use the `doc()` function that when no matching `docs` macro block is found, doesn't halt the execution of dbt.
My work-around is to parse manifest.json and ensure the existence of any docs blocks for new schemas, tables, columns that I add to my yml.
Generally, I would be very exc

[2020-05-16 15:07] Dandandan commented on #1153
Thanks @drewbanin, working on it!
Can we also create a athena channel in Slack?

[2020-05-17 22:01] Sherm4nLC commented on #1153
In relation to this amazing work -- The readme states that incremental models are not supported due to the nature of athena, however, since late last year Athena does support `insert into`, so, presumably incremental models could be supported, or there's another blocker?
Thanks a lot!

[2020-05-17 22:14] Dandandan commented on #1153
There is no real blocker, but it currently the same limitations as the presto adapter (as dbt-athena is based on the presto adapter).

See here for some implementation ideas:

https://github.com/fishtown-analytics/dbt-presto/issues/5

[2020-05-18 13:53] ags2121 commented on #1153
would love to see this in the docs! just chiming in to say it'd be nice to see some examples of how to use this adaptor in the readme.

[2020-05-18 13:56] drewbanin commented on #1153
sure thing @Dandandan - check out #athena in Slack :)

[2020-05-18 14:09] #2167 closed

[2020-05-18 14:11] beckjake commented on #2460
Fixed in #2461

[2020-05-18 14:11] #2460 closed

[2020-05-18 14:11] beckjake commented on #2463
Fixed in #2464

[2020-05-18 14:11] #2463 closed

[2020-05-18 14:18] AndrewStoffelMerrill commented on #2311
Working with Drew we were able to identify the issue. In the profiles we had put the role the DBT user was a part of in the config. Removing that line fixed the problems.

[2020-05-18 14:19] #2430 closed

[2020-05-18 14:36] drewbanin commented on #2311
right on @AndrewStoffelMerrill - glad you got it working!

For reference, the issue is an undetermined bug with the `role` config. dbt sets the role for a connection by executing `set role {role}` when connections are opened. Somehow, dbt is not setting this role correctly in the `alter table` statements that fail! This is tough to diagnose because the pg dbt plugin does not log the query lines (t

[2020-05-18 15:44] drewbanin opened #2465 "Add psuedo selectors that select models based on artifact states"
### Describe the feature
This change would be in support of:
1. Improved dev experiences
2. Slimmer CI builds

If dbt is provided artifacts (manifest, run_results) produced from a previous run of dbt, then dbt will be able to determine:
1. New nodes
2. Changed nodes
3. Nodes that failed to build in a previous invocation

Here are some high-level example usage scenarios:
[code]

### Implementation

[2020-05-18 17:56] drkarthi commented on #2426
As discussed above, changing to the table order of operations helped remove the lock on the table when building and resolved our issue. My change involved a custom materialization with the following lines of code:

https://github.com/fishtown-analytics/dbt/blob/dev/octavius-catto/core/dbt/include/global_project/macros/materializations/incremental/incremental.sql#L25-L26

changed to something like:

[2020-05-18 19:36] clrcrl opened #2466 "Database and schema names with new lines work on Snowflake... until they don't"
Not really a bug, more just an observation of some odd behavior.

### Describe the bug
1. Create a snapshot where the schema includes a new line (note: this is more likely to happen because of logic in `generate_schema_name` etc)
[code]
2. Do an initial run of the snapshot
3. Do a subsequent run of a snapshot

### Expected behavior
There should be two records in the snapshot. OR the snapshot shoul

[2020-05-18 20:50] drewbanin commented on #2466
thanks for recording this one @clrcrl. I'd definitely be in favor of changing our docs to use `return` instead of implicitly returning! We do trim whitespace from these macro return values in python-land, but you're definitely right that we _don't_ do that when you call these macros from jinja-land directly

[2020-05-19 03:12] MarcelvanVliet opened #2468 "DBT relationship test does not correctly support column quoting"
### Describe the bug
When defining a relationship test (In this case between Person and Invitation) the generated DBT test does not link the relationship back to the destination table column definition.  Hence, it does not recognise that a column in a relationship test _may_ require quoting.

### Steps To Reproduce
With a Source as follows:
![image](https://user-images.githubusercontent.com/166398

[2020-05-19 03:14] MarcelvanVliet commented on #2468
I followed the thread to here before losing where the relationship test may be held:
https://github.com/fishtown-analytics/dbt/blob/dev/0.16.1/core/dbt/parser/schemas.py#L236-L273

[2020-05-19 15:49] jtcohen6 commented on #2468
Thanks for the detailed write-up @MarcelvanVliet!

For convenience, it may be useful to also add column quoting configuration at the model and source level.

Currently, dbt supports project-level [quoting](https://docs.getdbt.com/reference/project-configs/quoting/) configurations for relation namespaces: database, schema, and identifier. (There are specially scoped overrides for [sources](https://

[2020-05-19 16:57] drewbanin commented on #2468
@jtcohen6 I caught up with @MarcelvanVliet about this on Slack. I think it would be really great if we could leverage the quoting configs from these .yml files directly in the `relationships` test. I bet it would be a pretty big change two save exactly 4 keystrokes, but dbt _should_ have all the info it needs to do the right thing here automatically!

So, this probably isn't something we'd hit in

[2020-05-19 17:36] jtcohen6 commented on #2468
Ah ok! That makes sense. I missed it in my first read-through.

[2020-05-19 17:56] beckjake opened #2469 "If any v1 configs are present, global-level v2 var declarations do not work"
### Describe the bug
If you have some v2 project configs with global-level `var` declarations, adding any project with a v1 config breaks them.

### Steps To Reproduce
Create 3 projects:
 - two with v2 configs and global var declarations
 - one with a v1 config

Even if the third project never accesses any vars from the v2 configs and vice-versa, dbt will convert the v2 configs into v1 configs and

[2020-05-20 09:32] dmateusp opened #2470 "[0.17.0rc1] Broken Docker image entrypoint"
### Describe the bug

The entrypoint for the image is invalid

### Steps To Reproduce

1. Pull the image: `docker pull fishtownanalytics/dbt:0.17.0rc1`
2. Run the image:

[code]

### Expected behavior

The DBT help command is displayed

### Additional context

I plan on integrating DBT with our Airflow infrastructure as a container (we extend Airflow exclusively through containerized components)

[2020-05-20 13:33] beckjake opened #2472 "vars defined at the global level in dbt_project.yml v2 don't end up in schema parsing"
### Steps to reproduce
(copy+pasted from Claire in slack)

Add a variable to a package, e.g.:
[code]

2. Call the var in the same package:
[code]

3. Install the package in another project, and dbt compile

4. Get this error:
[code]

5. Move the vars to be package scoped:
[code]

6. Try again, everything works.

### Expected behavior:
The var should be resolved in both instances. Vars available in

[2020-05-20 13:36] beckjake opened #2473 "Missing vars in generate_schema_name macro do not fail the run"
### Describe the bug
When there is a `var('foo')` call in a `generate_schema_name` macro, if `foo` does not exist, dbt returns None for it.

### Steps To Reproduce
1. Add this macro:
[code]

2. Do not declare `myvar`
3. Run dbt
4. get a bunch of log messages that `The var is: None`.

### Expected behavior
dbt should fail with an error about the var not being set.

### System information
Any databa

[2020-05-20 13:47] drewbanin opened #2474 "Performance issues with a nontrivial number of sources"
### Describe the bug
In dbt v0.17.0-rc1, it appears that performance degrades greatly when a nontrivial number of sources are added to a project. This is a regression: I could not reproduce this performance failure mode in dbt v0.16.x.

I tested this out by repeatedly running `dbt ls` and recording runtimes. The data looks like:

|sources|runtime (s)|time per node (s)|
|-------|-----------|-------

[2020-05-20 14:03] mjuszczak commented on #2311
FYI, we are also encountering this issue after rolling out a forced SET ROLE= policy to ensure proper object ownership. Nothing to add other than that we're also encountering the bug.

[2020-05-20 14:38] beckjake commented on #2474
I assure you, there's no way dbt 0.17.0rc1 is running with python 2.7.7. 😄
Maybe we should have people run `dbt debug` instead, so we can capture homebrew/virtualenv installs?

[2020-05-20 14:52] drewbanin commented on #2474
oops - i meant 3.7.7 - that was a typo

[2020-05-20 15:24] jtcohen6 commented on #2396
@hui-zheng I think BigQuery may have beaten us both to the punch here: [hourly partitioning](https://cloud.google.com/bigquery/docs/creating-column-partitions#daily_partitioning_vs_hourly_partitioning) is now in beta.

[2020-05-20 15:40] jtcohen6 opened #2476 "Add support for BigQuery hourly partitioned tables"
### Describe the feature
BigQuery [hourly partitioned tables](https://cloud.google.com/bigquery/docs/creating-column-partitions#daily_partitioning_vs_hourly_partitioning) are now in beta.

[code]

Benefits:
* Greater control over partition pruning when querying timeseries data
* The `insert_overwrite` incremental strategy could replace partitions at a finer level of precision

### Required change

[2020-05-20 19:41] azhard opened #2479 "[CT-96] Allow unique_key for incremental materializations to take a list"
### Describe the feature
Right now when creating a model in dbt with materialization set to `incremental` you can pass in a single column to `unique key` that will act as the `key` for merging.

In an ideal world you would be able to pass in multiple columns as there are many cases where a table has more than one column that defines it's primary key.

The simplest solution would be to change to `u

[2020-05-20 19:51] jtcohen6 commented on #2479
Thanks for the solid proposal, @azhard. I've now heard this from several members of the community. Though it's what we recommend, I understand that creating a single hashed surrogate key for each model is against some folks' warehousing paradigms. Currently, that requires overriding a complex merge macro, or the entire incremental materialization.

Could you clarify what you mean here? Is the BQ i

[2020-05-20 19:58] azhard commented on #2479
Hey @jtcohen6 the `surrogate_key` function is broken for this particular case but not sure if the fault lies on the `dbt` side or the `dbt_utils` side.

Essentially in merge.sql L25 dbt does this to generate the match predicate
```DBT_INTERNAL_SOURCE.{{ unique_key }} = DBT_INTERNAL_DEST.{{ unique_key }}```
While this normally would work, the unique_key is substituted with `.to_hex(md5(cast(concat(

[2020-05-21 13:44] drewbanin commented on #2470
closed by https://github.com/fishtown-analytics/dbt/pull/2475

Thanks @dmateusp!

[2020-05-21 13:44] #2470 closed

[2020-05-21 13:46] drewbanin commented on #2474
fixed by #2478

[2020-05-21 13:46] #2474 closed

[2020-05-21 16:59] beckjake opened #2480 "docs/schema.yml parsing can be very slow at large scales"
### Describe the bug
This is similar to #2474 (and comes out of the same issue). Docs parsing can be really slow if you have lots of docs and large numbers of schema.yml entries that reference them. There's a few things about it that are "slow":

 - we render a lot of fields, and rendering jinja is slow
   - This is hard, so I won't talk about it
 - we search for docs using doc() a lot, and search

[2020-05-21 17:35] drewbanin commented on #2469
closed by https://github.com/fishtown-analytics/dbt/pull/2477

[2020-05-21 17:35] #2469 closed

[2020-05-21 17:35] drewbanin commented on #2473
closed by https://github.com/fishtown-analytics/dbt/pull/2477

[2020-05-21 17:35] #2473 closed

[2020-05-21 17:35] drewbanin commented on #2472
closed by https://github.com/fishtown-analytics/dbt/pull/2477

[2020-05-21 17:35] #2472 closed

[2020-05-21 17:37] drewbanin commented on #2426
@drkarthi sure thing - please do feel free to PR a change for this against `dev/marian-anderson`. If you have any questions about how to structure the code to remove the dummy sql statement, we'd be happy to take a look at the diff and send through some ideas :)

[2020-05-22 15:34] drewbanin opened #2482 "Snowflake queueing causes keypair auth'd connections to fail"
### Describe the feature
Snowflake keypair connections have 10 seconds to execute before the embedded JWT token expires. If many concurrent queries are opened against Snowflake _when using keypair auth_, Snowflake can fail to open connections with this error:

[code]

I don't think there's too much we can do on dbt's side of things to prevent this, but we can consider doing the following things:

[2020-05-22 18:50] boxysean opened #2483 "Support BigQuery Job Tags and Labels"
### Describe the feature

I would like to be able to control [tagging and labeling of BigQuery Jobs](https://cloud.google.com/bigquery/docs/adding-labels#job-label) as I run dbt on BigQuery.

A similar (but not the same) issue is #1947, for labeling BigQuery Tables and Datasets. This issue focuses on BigQuery Jobs (such as Insert Jobs or Query Jobs).

### Describe alternatives you've considered

I

[2020-05-22 19:59] jtcohen6 commented on #2483
This is interesting! Thanks for the detailed writeup @boxysean.

More so than labels on tables and columns, this idea feels like a close relative of [query comments](https://docs.getdbt.com/reference/project-configs/query-comment/), which we introduced in v0.15. Parsing out and aggregating query comments is the best way to calculate usage on Postgres/Redshift.

### Clarifying questions

A single `

[2020-05-22 20:57] jars opened #2484 "Parallel compile_sql requests to dbt RPC server cause tasks to never exit the running state."
### Describe the bug

#### Parallel `compile_sql` requests (at just moderate volumes) to dbt RPC server cause tasks to never exit the `running` state. We also notice several child dbt rpc processes getting created, which may or may not be symptomatic of the perpetual `running` state.

### Steps To Reproduce

Use the following Dockerfile, which uses the dbt official image, simply extend it to use t

[2020-05-22 22:36] beckjake commented on #2484
Thank you for this very detailed writeup and excellent repro instructions! I'm able to reproduce this, though I have no idea what the cause could be.

[2020-05-22 23:03] jars commented on #2484
Happy to help solve the mystery with you @beckjake, but I'm not a python native. So, the best I can probably do is verify any patches you release. Looking forward to a fix. :pray:

[2020-05-22 23:29] jars commented on #2484
@beckjake, curious, in your experience do you think it's possible for us to hook-into the `compile_sql` compilation process by importing some of the compilation classes/modules and invoking a script like...

[code]

This could be a stop-gap, depending on how complex the rpc fix is.

[2020-05-25 10:56] keiththompson opened #2486 "Threads cannot be set from an environment variable"
### Describe the bug
Threads cannot be configured with an environment variable.

### Steps To Reproduce
Setting an environment variable "THREADS" with my profile set as
`threads: "{{ env_var('THREADS') }}"` throws the following error:
[code]

### Expected behavior
In this example, I would have expected the run command to work with 8 threads.

### System information
**Which database are you using d

[2020-05-25 16:37] jtcohen6 commented on #2486
Thanks for the writeup!

Could you try running this again using the latest release candidate of dbt v0.17.0? The new version includes a change (https://github.com/fishtown-analytics/dbt/pull/2357) that renders all YML files, including `profiles.yml`, within the native env. A Jinja expression that returns an integer should be able to pass an integer to the config.

[2020-05-26 13:34] clrcrl commented on #1958
More evidence:

I’m trying to understand how to set up profiles to have more than one environment.  I don’t fully understand the difference between target and outputs.

I somehow missed this reply:
* `connection_details` vs `connection`: happy to use `connection` here!
* I like the default env idea!

[2020-05-26 13:49] beckjake commented on #2484
If your queries are all simple and don't use `ref` or anything like that, you can hook into `dbt.clients.jinja.get_rendered`. If they aren't simple and you care about models/refs/sources, it's going to be a lot more complicated.

[2020-05-26 15:26] beckjake opened #2487 "dbt catalog doesn't support missing "database" fields"
### Describe the feature
The dbt catalog functionality doesn't support missing database fields.

In a number of places, dbt expects database to be a `str`, but we should allow it to be `None` for some databases that don't have support for databases.

- Catalogs should be allowed to set the database to None for data warehouses that don't have them.
- list_relations should be allowed to take `None`

[2020-05-26 17:14] max-sixty opened #2488 "The link in the default `profiles.yml` is `Page not found`"
### Describe the bug
The link in the default `profiles.yml` is `Page not found`:

[code]

**The output of `dbt --version`:**
[code]

[2020-05-26 19:16] drewbanin commented on #2488
thanks for the heads up @max-sixty - we'll get this fixed with a redirect on the docs site :)

[2020-05-26 20:19] azhard commented on #2479
@jtcohen6 any idea on the `surrogate_key` issue? I'd be happy to submit a PR to try and fix it, just not sure which side it counts as being broken on

[2020-05-26 20:26] balmasi commented on #1457
as an end-user, the behaviour I expected was for dbt to look at all my packages and find the `<adapter>__<macro>` pattern. I was intuitively looking for a way to register my adapter with the original namespace when defining it.  Something like mentioned above as

[code]

You need some sort of interface to maintain adapters anyway, I don't think using a package name + macro name is any more restric

[2020-05-26 21:22] beckjake commented on #2484
I've had very little time to look at this, but: this works fine on macos (once you raise the ulimit high enough to not get errors about too many open file decriptors). A key feature difference between running on macos and linux is that on macos we use the `spawn` protocol, which behaves fundamentally differently from `fork`.

Some things to explore as part of tracking this down:
 - see how `spawn`

[2020-05-26 22:18] #2052 closed

[2020-05-26 22:27] jars commented on #2484
This gives us a great starting point @beckjake. thx! :bowing_man:

[2020-05-27 00:27] jars commented on #2484
We modified `flags.py` to force `spawn`, and although slower, the rpc server does not create additional copies of itself, and all `compile_query` calls do eventually finish w/ pollable results. Initial testing looks good!

[2020-05-27 14:03] beckjake commented on #2484
That is great news, thank you for reporting back!

[2020-05-27 15:07] jtcohen6 commented on #2479
I see what you mean. When I think of creating a surrogate key for an incremental model, I'm thinking of creating a column within that model, to be stored in the resulting table and passed as the `unique_key` for subsequent incremental runs:

[code]

You're right that, as a result of the way that merge macros are implemented on BigQuery, you cannot create the surrogate key directly within the confi

[2020-05-27 15:35] beckjake opened #2490 "homebrew builds don't work properly and don't fail properly"
### Describe the bug
During dbt's build process, when it runs `homebrew-pypi-poet` to look up dependencies, it fails because the version of `protobuf` that is selected by some google dependencies is unbounded, but the newest couple releases don't have source distributions, only binary wheels (and python3.8 on windows is even missing wheels!).
See https://github.com/protocolbuffers/protobuf/issues/

[2020-05-27 16:58] drewbanin commented on #2479
@jtcohen6 I'm into the idea of supporting an array of values for `unique_key`. I do think our best practices should state that a `unique_key` should be a single field name, but i think it should be relatively easy to build the correct merge statement from a list of fields.

Either way though, I do think we should mandate that `unique_key` args are simple field names, and we should try to support e

[2020-05-27 16:59] drewbanin commented on #2201
closed by https://github.com/fishtown-analytics/dbt/pull/2358

[2020-05-27 16:59] #2201 closed

[2020-05-27 17:14] drewbanin opened #2492 "Test suite for non-core plugins"
### Describe the change
Let's add a test suite for the dbt-spark plugin. This plugin should be built with the goal of extension for all dbt plugins in the future, but the first cut should be spark-specific to make the scope manageable.

**Test suite goals:**
   - assert compliance for dbt-spark with core functionality
   - help plugin maintainers upgrade to new versions of Core

### Describe alter

[2020-05-27 17:39] hui-zheng commented on #2396
indeed!

[2020-05-27 17:44] beckjake commented on #2487
Fixed in #2489

[2020-05-27 17:44] #2487 closed

[2020-05-27 17:50] beckjake opened #2493 "run results reporting is a mess"
### Describe the feature
Right now, run results are an ugly overloaded mess:
 - dbt run returns a string
   - it's the result of `get_status` method on SQL adapters, which can basically be anything the db/underlying db api want
   - on bigquery it's a carefully crafted string based on what we think the query did
 - dbt test returns an integer for the number of failed rows
 - other things just retu

[2020-05-27 19:14] jtcohen6 commented on #2479
To last point, [Postgres](https://www.postgresql.org/docs/10/sql-delete.html), [Redshift](https://docs.aws.amazon.com/redshift/latest/dg/r_DELETE.html), and [Snowflake](https://docs.snowflake.com/en/sql-reference/sql/delete.html) all support `using` syntax with `delete` statements, so we could write:
[code]

[2020-05-27 19:53] grahamlyus opened #2494 "Intermittent relation does not exist on view model in Redshift"
### Describe the bug
When running `dbt run`, I intermittently encounter a 'relation does not exist' error for a view model. It's always the same view, but that may be because all other models get skipped after the error.

I've verified that the view existed before the run command

### Steps To Reproduce
e.g. `dbt run --target staging`

### Expected behavior
Expected to recreate the view without fa

[2020-05-27 20:08] azhard commented on #2479
Any advice on how I can use multiple key columns locally with BigQuery right now?

[2020-05-27 20:15] jtcohen6 commented on #2494
Hey @grahamlyus, thanks for the writeup. I have a guess as to what's going on, though I may be off base.

In your `dbt run`, are you also including models that are:
* `materialized='table'`
* parents of `lookup_identifies_by_month` (i.e. the view model `ref`s that table model)

If that's the case, when dbt replaces the upstream table, it cascade-drops the view... but it seems that dbt doesn't upda

[2020-05-27 20:29] jtcohen6 commented on #2479
If need be, you could override the `get_merge_sql` macro, specifically to change these lines:
https://github.com/fishtown-analytics/dbt/blob/c3c99f317e044a333d20766cc59c523769a4204f/core/dbt/include/global_project/macros/materializations/common/merge.sql#L23-L28
to
[code]
and then pass a comma-separated list to `unique_key` in your model:
[code]

That's obviously not the eventual implementation we

[2020-05-27 20:33] grahamlyus commented on #2494
@jtcohen6 Thanks for the quick response. One of the parents of the problem view `identifies_by_day` is `lookup_identifies_by_day` which is `"materialized":  'insert_by_period'.`

I'll look into your suggestion and report back

[2020-05-27 20:47] beckjake commented on #2494
dbt actually should be doing that. On postgres/redshift we keep track of all the binding-view relationships. When we drop a table we mark all its downstream values as also being dropped and remove them from the cache. That's been the case since the cache was first written... modulo any bugs, of course.

[2020-05-27 22:13] grahamlyus commented on #2494
@jtcohen6 I added `bind: false` to my `dbt_project.yml` then run a `--full-refresh` and then ran 10 regular runs with no failures, so this must be it

Thanks very much, I think I can stop scratching my head :)

[2020-05-27 22:13] #2494 closed

[2020-05-28 00:05] dlmiddlecote commented on #775
Hey 👋

Sorry for digging up an old issue, but I am seeing this again (or something very similar), on both 0.16.1 and 0.17.0b1.

I'm trying to delete some data in the `on-run-end` hook. The data isn't deleted unless I append `; commit;` to the command.

Looking at the debug output *without* the `; commit;` suffix there is no 'COMMIT';
[code]

But with the suffix we do see a commit:
[code]

[2020-05-28 00:30] drewbanin commented on #775
hey @dlmiddlecote - do you mind opening a new issue? The behavior you're describing doesn't sound good/right to me! We'd be happy to check it out :)

Thanks!

[2020-05-28 00:41] dlmiddlecote commented on #775
Of course! Thanks 🙏

[2020-05-28 10:11] dlmiddlecote opened #2495 "DELETE statement isn't committed within on-run-end hook."
### Describe the bug

I have added an `on-run-end` hook to my project, that has a single statement: `DELETE FROM ...` to do some cleanup. However, when I `dbt run`, the data is not cleaned up. If I add `; commit;` to the end of the statement, i.e. `DELETE FROM ...; commit;`, and `dbt run` again, the data is deleted.

### Steps To Reproduce

The behaviour I'm trying to account for is like so:

[cod

[2020-05-28 13:51] cmcarthur commented on #2493
@beckjake is this intended to apply a schema to the current run results format, or is this a breaking change?

as a consumer of this data, testing for the existence of a key to detect the result type is a bit painful -- it requires lots of conditionals in the consumer to do the right thing with the data. I'd prefer to standardize the result schema a bit more on the core fields (success/error/warn,

[2020-05-28 13:59] beckjake commented on #2493
@cmcarthur This is a breaking change. We already have a schema for the results output, it's just not a useful one and consumers are confused by it.

The problem here, which I don't believe the above structure solves, is that dbt does a poor job of differentiating between "There was an error in execution" (an exception raised) and "There was an error-severity test failure". Maybe we could add `fail

[2020-05-28 14:16] nicku33 opened #2496 "Exception handler python hook"
### Describe the feature
I'd like to be able to register a function to be called whenever an exception occurs with details about the context it occurred in as well as the raw Exception instance. This is so that we can pass it on to our alerting systems as soon as they happen, with the data structure of the actual exception. Rollbar, for example, uses the stack trace itself to fingerprint exception

[2020-05-28 14:17] nicku33 commented on #2496
(happy to work on this patch ourselves, and apologies if there is a way to do this already that I missed)

[2020-05-28 15:33] azhard commented on #2479
Hey @jtcohen6 that works perfectly, thanks for the help!

[2020-05-28 16:35] darrenhaken opened #2497 "Update BQ labels on tables as they change"
### Describe the feature
Currently, labels apply when a table is created. However, for incremental models, the labels are not updated if they change in the future. This is also a problem as the labels become out of sync with the DBT project.

### Describe alternatives you've considered
An alternative is to write a post-hook which applies the labels to the relation.
I'd prefer to contribute this fe

[2020-05-28 16:36] drewbanin commented on #2496
hey @nicku33 - I buy the use case, but I think we might want to opt for a different implementation than the one you're describing. Just an FYI you can run dbt with `--log-format=json` to emit json log lines. That might look like:

[code]

When you do that, any exceptions will be present in the log lines. I think you should find an `exc_info` key in a logline that contains the full exception and st

[2020-05-28 16:38] drewbanin commented on #2497
right on @darrenhaken - this would be a great change. Let us know if you're interested in contributing a change for the feature! I think the change will be self-contained within the BigQuery materialization code

[2020-05-28 16:39] darrenhaken commented on #2497
I'd be interested in working on it. Can you sign post where the change would need to go?

[2020-05-28 16:52] drewbanin commented on #2497
Sure thing - I think we'll want to:
1. Add a macro in [plugins/bigquery/.../adapter.sql](https://github.com/fishtown-analytics/dbt/blob/dev/marian-anderson/plugins/bigquery/dbt/include/bigquery/macros/adapters.sql) that runs something like
 `alter table {{table}} set options (labels=...)`
2. Call that macro in the incremental materialization, but only if the model is building incrementally. That c

[2020-05-28 17:11] nicku33 commented on #2496
OK. I'll try that, easier to parse json anyway. However will that emit at the time of exception or only at the end ?

Also, what different implementation where you thinking of ? You don't like code injection I take it ?

Slightly related, lmk if worth a ticket, but we've found a need to define define transient exceptions in our own script so we know when to retry.

I think other have mentioned the

[2020-05-28 19:19] cosoare commented on #2315
Hello @drewbanin @go-east ,

This is likely to happen when a dataset is not configured to be multi-region (ie. EU/US) but rather on a single region, like `europe-west2`. Furthermore, BigQuery data located in the EU multi-region is not stored in the europe-west2 (London) or europe-west6 (Zürich) data centers.

My fix for this has been to change the `profiles.yml` file location attrobute to point at

[2020-05-28 19:21] beckjake commented on #2452
Implemented in https://github.com/fishtown-analytics/dbt-release/commit/0c6162f651e85d6ca7592cb318176fd8965b7b02

[2020-05-28 19:21] #2452 closed

[2020-05-28 19:21] beckjake commented on #2453
Implemented in https://github.com/fishtown-analytics/dbt-release/commit/0c6162f651e85d6ca7592cb318176fd8965b7b02

[2020-05-28 19:21] #2453 closed

[2020-05-28 21:59] xinbinhuang opened #2498 "Better Docker build image"
### Describe the feature
Move the inline Dockerfile to a separate `Dockerfile`
https://github.com/fishtown-analytics/dbt/blob/dev/octavius-catto/scripts/build-dbt.py#L717-L745

Relevant: #2457

#DOCKER

### Describe alternatives you've considered

Something like this. and it is more easy to tune and optimize.

When we need to build the image, pass those arguments with `--build-arg`, and we don't n

[2020-05-28 22:00] xinbinhuang commented on #2498
I can help create a PR on this if you guys agree

[2020-05-29 13:20] drewbanin opened #2499 "Better error handling for compilation exceptions in .yml files"
### Describe the bug
A malformed yml file can result in an error like:
<img width="399" alt="Screen Shot 2020-05-29 at 9 15 37 AM" src="https://user-images.githubusercontent.com/1541139/83263674-fa984d00-a18c-11ea-8c52-4148325edaa7.png">

Instead, this error should include information about the file in which the errant jinja code was found.

### Steps To Reproduce
Create a .yml file with the conte

[2020-05-29 15:47] jtcohen6 commented on #2495
@dlmiddlecote Thanks for the detailed writeup!

Just to clarify my understanding, if you set your `on-run-end` hook to be:
[code]
It sounds like that works, and it also sounds like you expect that `commit` should be unnecessary. Is that right?

Snowflake has some odd behavior around [transactions](https://docs.snowflake.com/en/sql-reference/transactions.html#autocommit). DDL statements (including

[2020-05-29 16:02] beckjake opened #2500 "Homebrew package for 0.17.0rc3 has some plugins at the wrong version"
### Describe the bug
The homebrew formula for 0.17.0rc3 has dbt-postgres, snowflake, and bigquery at `0.16.1`, but redshift and core at 0.17.0-rc3.

### Steps To Reproduce
- Install from homebrew
- get errors that make no sense and indicate a version mismatch
- be sad

### Expected behavior
I expect the homebrew package to have all the right versions for things!

### System information
**Which dat

[2020-05-29 17:35] dlmiddlecote commented on #2495
Hi @jtcohen6 😊

Yes, that is correct, thank you for confirming.

Okay, thanks so much for the link. That makes more sense now, I’ll just be more liberal with my `COMMIT`ing 🎉.

Many thanks!

[2020-05-30 01:54] agnesbao opened #2503 "dbt seed --select {model_name} and dbt run --models {model_name} error out when other model dependencies are missing"
### Describe the bug
I am collaborating on the same project with my team and working on a specific model. Under the models/ directory there're other model sql which contains seed data that cannot be shared.

### Steps To Reproduce
When I run `dbt seed --select  {model_name}` or `dbt run --models {model_name}` which only contains my own model, it will error out with:
[code]
The way i get around it

[2020-05-30 09:57] AcidFlow opened #2504 "DBT 0.17.0rc3 - Compilation failure regression"
### Describe the bug

When trying to compile a project having some schema tests using `dbt_utils.equality` the compilation fails because the model does not exists.
However calling DBT run works.

The compilation failure happens when using DBT 0.17.0rc3, however compiling the same project using DBT 0.16.1 succeeds.

### Steps To Reproduce

The following ZIP file includes a dummy project to reproduc

[2020-05-30 11:10] KimchaC commented on #1677
I think an easy way to implement this would be to store the last modified date for each model. Then when this command is run compare the last modified date of the current files with the ones in the previous one and only run those.

[2020-06-01 02:53] rpedela-recurly commented on #1269
I like #2 the best.

[2020-06-01 09:26] tin-trong-nguyen opened #2506 "BigQuery insert_overwrite incremental strategy static partitions with DATE partition fails due to wrong field type render"
### Describe the bug
Using *static* insert_overwrite on BigQuery with DATE partition field doesn't naturally work.

### Steps To Reproduce
[code]
The rendered MERGE statements will incur type error

1st case:
![image](https://user-images.githubusercontent.com/20536852/83395308-4153a480-a424-11ea-9fe9-704cae63ef52.png)

2nd case:
![image](https://user-images.githubusercontent.com/20536852/83395292-

[2020-06-01 11:39] scarrucciu opened #2507 "create_adpater_plugin bug with --dependency flag"
### Describe the bug
Bug in create_adapter_plugin.py script when a dependency is not passed in via the --dependency arg.

### Steps To Reproduce
Run the create_adapter_plugin.py script without a --dependency arg. The variable 'prefix' is not defined in the else condition.

### Expected behavior
The script should trigger the else condition.

### Screenshots and log output

### System information
**

[2020-06-01 16:04] beckjake commented on #2504
Thank you for the writeup and the _wonderful_ reproduction case! 🙏  I believe the root cause here is that we switched snowflake's `get_columns_in_relation` to use `describe table`, which results in a database error -> an exception when the relation is missing. Other adapters select from the information_schema and just return an empty list when there are no columns. The new snowflake behavior seems

[2020-06-01 16:54] drewbanin commented on #2496
hey @nicku33 - these exceptions should be logged immediately when they occur, not at the end of the run!

We don't really design for dbt's programmatic Python API, and while I do think we'll do a better job here in the future, we basically provide no guarantees or helpful interfaces to calling dbt from Python today. I do think that a Python hook for model completion (be it a success or error) woul

[2020-06-01 16:56] jtcohen6 commented on #2506
@tin-trong-nguyen Thanks for the detailed write-up, and I'm glad you were able to get this working!

As far as I see it, the merge macro shouldn't try wrapping the `partitions` values in quotes because it should be able to support SQL expressions, as in the example from [this discourse post](https://discourse.getdbt.com/t/bigquery-dbt-incremental-changes/982):

[code]

[code]

This is a fairly com

[2020-06-01 17:01] jtcohen6 commented on #2503
dbt needs to construct and verify the entire DAG before it can run any part of it. I don't think we plan to build a version of `compile`, `seed`, or `run` that will work if there are missing references.

This is fair! You may want to make this a `source` instead of a seed file, if its contents need to be kept hidden from some dbt users.

I'm also surprised to see you're using an `0.18.0-a1` versio

[2020-06-01 17:10] beckjake commented on #2498
Thanks for the feedback! I'll definitely keep this in mind for #2458 (which I think is more of the "right place" than #2457).

I don't think it's likely that this will happen for 0.17.0, but I would expect this to be in 0.18.0 if we don't hit any problems with it.

[2020-06-01 17:54] #2503 closed

[2020-06-01 18:43] #2507 closed

[2020-06-01 19:27] clrcrl commented on #2277
Suggested additions from when I've been writing docs:
- [ ] Rationalize use of `tags` config / property (e.g. sometimes it's a config, sometimes it's in a `schema.yml` file which I'm calling a property henceforth).
- [ ] Make data and schema tests configurable from `dbt_project.yml`. Lack of support for configs in the `dbt_project.yml` makes it impossible to "turn off" a test in a package (I think

[2020-06-01 19:29] clrcrl commented on #2274
Note that this is the same syntax you've described for schema tests in #1173

[2020-06-01 22:51] xinbinhuang commented on #2498
Oh.. it should be #2458 indeed, sorry for the typo.

Are you open to a PR from me? I can first move the inline textwrap Dockerfile to the root directory.

[2020-06-01 23:35] azhard commented on #1718
Is adding support for authorized views on the roadmap? Need this feature for my company's dbt project so I'm happy to contribute on the solution if needed

[2020-06-02 04:56] tin-trong-nguyen commented on #2506
I see that's the expected behavior. Apology for having incorrectly assumed it is a bug. We should change this ticket to more of a feature suggestion then.

I'd suggest we also change `partitions_to_replace` into a dict that has another key to customize the behavior. e.g.
- an `in_literal_list` (awkward name i know) type would expect a list of literal values with the correct type (Python type that

[2020-06-02 09:54] keiththompson commented on #2486
Sorry for the delay - I can confirm this works after upgrading to v0.17. It also fixed the variables for BigQuery profiles.

Thanks guys, I'll leave it to you to close this issue, it may suit you better to close when 0.17 moves out of RC.

[2020-06-02 13:00] beckjake commented on #2498
@xinbinhuang Sure! Instead of the root directory, could it go into the `docker` folder? We already have a `Dockerfile` in the root directory for the test container.

[2020-06-02 13:33] beckjake commented on #2500
Fixed in #2502

[2020-06-02 13:33] #2500 closed

[2020-06-02 13:34] beckjake commented on #2490
I think this is fixed in #2502

[2020-06-02 13:34] #2490 closed

[2020-06-02 13:34] beckjake commented on #2504
Fixed in #2509

[2020-06-02 13:34] #2504 closed

[2020-06-02 13:46] drewbanin commented on #2486
thanks for the update @keiththompson!

[2020-06-02 13:46] #2486 closed

[2020-06-02 14:00] drewbanin commented on #1718
hey @azhard - this feature is not currently on the roadmap, and we don't intend to pick it up ourselves any time soon! It is a good feature though, and we'd be super happy to work with you on a PR that adds this functionality to dbt. Let us know how we can help!

[2020-06-02 23:55] nicku33 commented on #2496
Yes you are right, of course. We switched to json output and are parsing STDOUT as they output. A bit icky and I look forward to the API hook, but much better than before.

Regarding retry on transient issues, let me look closer at how dbt works and if I have an idea I'll fork, try it, and make an issue if it works.  #2465 I guess would allow one to rerun just failed models until exit was non-zero

[2020-06-02 23:55] #2496 closed

[2020-06-03 10:00] younescha opened #2510 "capture dbt cli submitted command in run_results.json"
### Describe the feature
capture dbt cli submitted command in run_results.json,
this is to help with logging/auditing, where we need some way to identify various runs.

### Describe alternatives you've considered
no proper alternative, all the workarounds are fragile and short living at best, examples:
- if this invocation contains some specific marketing model then this is a marketing dbt run
- i

[2020-06-03 13:17] drewbanin commented on #2510
I'm super supportive of this feature - thanks for opening it @younescha! I added this to the milestone for our next release, `dev/marian-anderson`.

[2020-06-03 13:39] drewbanin commented on #1843
We changed some of the relevant code around. The eventual implementation will need to:
1. Add an adapter-specific config [here](https://github.com/fishtown-analytics/dbt/blob/05634e61a70f4977726acbf05232a63899e62442/plugins/bigquery/dbt/adapters/bigquery/connections.py#L39-L46)
2. Return the `require_partiton_filter` option for table creation [here](https://github.com/fishtown-analytics/dbt/blob/0

[2020-06-03 15:52] azhard commented on #1718
Awesome I'll give it a shot then! In terms of the question you asked about whether dbt should automatically derive the `sourceDatasets` from the `ref`s and `source`s in the model have you given any more thought to that?

I have a few thoughts on the matter:
1. Having to manually specify the source datasets is kind of a pain especially when considering that the datasets should are already encapsula

[2020-06-03 17:13] beckjake opened #2511 "Misleading log messages about opening connections"
### Describe the bug
When dbt is parsing, it assigns a "connection name" for each model it's parsing, just in case it's needed. This goes through `set_connection_name`, which logs that it is `Acquiring new postgres connection ...` and `Opening a new connection, ...`. This behavior was very reasonable before dbt lazy-loaded connections, because it's the last centralized place before we end up in th

[2020-06-03 17:20] beckjake commented on #2511
@jtalmi You asked if we had any more good first issues - I think this is a great one! I know that was a month ago, but let me know if you're interested in picking this up.

[2020-06-03 17:39] azhard commented on #1718
Also separate question, I'm struggling to access the sources from `view.sql`. I see them as a list of lists in the `model` variable under `model.sources` but I'm not sure how to convert these into actual source objects so that I can extract the dataset

[2020-06-04 07:39] patrykkalinowski opened #2512 ""docs" command not recognized"
### Describe the bug
When I run `dbt docs` in terminal, that's what I get:
[code]
Everything else is working well (models, tests etc.)

### Steps To Reproduce
Run `dbt docs` command

### Expected behavior
Documentation should be generated and served

### System information
**Which database are you using dbt with?**
- [x] postgres

**The output of `dbt --version`:**
[code]

**The operating system y

[2020-06-04 10:55] DVAlexHiggs commented on #2377
HI, any news on this? Really excited if this is being considered. I'm happy to contribute it myself as well, though I would need a point in the right direction to start with. Perhaps we could talk about this?

[2020-06-04 11:06] southpolemonkey commented on #2511
I'd like to take this issue if it hasn't been assigned yet.

[2020-06-04 12:43] drewbanin commented on #2511
@southpolemonkey go for it! Let us know if there's anything we can do to help out :)

[2020-06-04 12:56] southpolemonkey commented on #2511
@drewbanin awesome! which branch should I base off?

[2020-06-04 12:59] drewbanin commented on #2511
you're going to want `dev/marian-anderson` :)

[2020-06-04 14:34] jtcohen6 commented on #2512
Hi @patrykkalinowski, `dbt docs` requires a sub-command, `generate` or `serve`:
[code]

Are you seeing an error when you run `dbt docs generate` or `dbt docs serve`?

[2020-06-05 05:22] ciejer commented on #1677
We'd be very interested in something like this in DBT Cloud - we have a test-on-pull set up from github, but our preprod test runs are getting a bit long and expensive - would rather just dbt run changes and then test all.
The bash command linked above doesn't work in cloud (it doesn't error in develop, just runs forever) - interested if any other thoughts have come up to achieve it since last com

[2020-06-05 14:12] jtcohen6 commented on #1677
We've been thinking a lot about this! Check out https://github.com/fishtown-analytics/dbt/issues/2465

[2020-06-05 22:27] xinbinhuang commented on #2498
Hi @beckjake , I took a look at the codebase, and I realize that it may involve rewriting the whole logic of `DockerBuilder` and how you store and push docker images. So I want to discuss it here first to see if it it's the right moment to do so alongside with other tasks that you are doing in the project.

So the eventual goal would be to have a single `Dockerfile` only and use `ARG` to provide b

[2020-06-05 22:35] xinbinhuang commented on #2498
https://github.com/fishtown-analytics/dbt/blob/05634e61a70f4977726acbf05232a63899e62442/scripts/build-dbt.py#L763-L773

would become something like this

[code]

[2020-06-07 04:32] ran-eh commented on #2331
Hi @drewbanin .  Tracking the relevant links, I am not sure what the resolution is exactly.  Am I correct to assume that this will be resolved by introducing the dbt_project version 2, and that that has not happened yet (0.17?), and that to be able to use partition_by at a folder level we will need to migrate dbt_project.yml to version 2, adding `config:` everywhere?  If so, what is the time line

[2020-06-08 13:17] ee07dazn commented on #1862
@drewbanin : any update on where we are with this feature...i have a wide table [Snowflake] but i only need to update very few columns in the incremental model.

[2020-06-08 13:21] drewbanin commented on #2331
hey @ran-eh - I think you're general idea is right! We nixed the `config:` syntax and instead are using a `+` syntax.

In v0.17.0 (due out today) you will be able to specify:
[code]

The `+` in `+partition_by` will denote that this is a dict-config, not a dictionary of configs :)

You will indeed need to upgrade to 0.17.0 to take advantage of this change. Docs to come alongside the release :)

[2020-06-08 13:39] beckjake commented on #2498
Hey @xinbinhuang - I've actually started on this on my own over here in our new dbt-release repository: https://github.com/fishtown-analytics/dbt-release/blob/master/Dockerfile

In that repository I'm actually planning to use a github action from docker itself to build the image. Longer-term we likely won't be maintaining the release Dockerfile or the build-dbt script in the dbt repository.

[2020-06-08 15:46] azhard commented on #1718
Hey @drewbanin any thoughts on the above?

[2020-06-08 16:06] #2511 closed

[2020-06-08 16:25] drewbanin commented on #1718
hey @azhard - thanks for following up on this one!

I just re-read the BQ docs for authorized views. This is an unfortunately implemented feature IMO, and I'm struggling to think through how dbt could work well in this environment. I think we should break this feature down into two parts:
1. Some helper code that assists users in granting reader permissions to a group on a dataset
2. A dbt-level c

[2020-06-08 16:33] drewbanin commented on #1862
hey @ee07dazn - no movement on this issue on our end to report. I think the spec I mentioned above (pasted below) is still a good idea:

[code]

I think that this feature should only be supported on databases that support `merge` statements, as dbt's delete+insert approach doesn't really lend itself well to this approach. If anyone is interested in working on this one, I'd be happy to try to point

[2020-06-08 16:50] ran-eh commented on #2331
Awesome - so it is backwards compatible is most situation?  No more need for config_version = 2?

[2020-06-08 16:57] drewbanin commented on #2331
Sorry - you'll also need to supply `config-version: 2` - this change is not backwards compatible. You'll need to be on 0.17.0 for sure. The pre-release docs for this can be found [here](https://deploy-preview-158--docs-getdbt-com.netlify.app/docs/guides/migration-guide/upgrading-to-0-17-0/#a-new-dbt_projectyml-config-version)

[2020-06-08 17:28] dalebradman opened #2514 "Allow custom variables inside profiles.yml"
### Describe the feature
I would like to be able to create and set custom variables inside `~/.dbt/profiles.yml` file and then use these variables within models.

### Describe alternatives you've considered

- Setting environment variables. However this would require further setup instructions to ask people to add variables to their `.profile`, `.bash_rc`, `.zshrc` etc. which requires additional c

[2020-06-08 18:59] beckjake commented on #2458
Done!

[2020-06-08 18:59] #2458 closed

[2020-06-08 18:59] beckjake commented on #2456
Done!

[2020-06-08 18:59] #2456 closed

[2020-06-08 19:00] beckjake commented on #2457
Done!

[2020-06-08 19:00] #2457 closed

[2020-06-08 19:00] beckjake commented on #2454
Done!

[2020-06-08 19:00] #2454 closed

[2020-06-08 19:09] patrykkalinowski commented on #2512
Thanks @jtcohen6 , it worked.

[2020-06-08 19:09] #2512 closed

[2020-06-08 19:35] sethwoodworth opened #2515 "On Linux: respect XDG_CONFIG_HOME and don't store config in user's home directory"
### Describe the feature
The XDG Base Directory standard states that user config files should respect the `XDG_CONFIG_HOME` environment variable, which defaults `$HOME/.config`.

Currently, dbt defaults the PROFILE_DIR to `~/.dbt` and doesn't attempt to read from XDG_CONFIG_HOME or ~/.config.
[code]

### Describe alternatives you've considered
I can locally symlink my ~/.config/dbt directory to ~/

[2020-06-08 19:39] drewbanin commented on #2515
Thanks for opening this issue @sethwoodworth. Looping in @beckjake to take a look :)

[2020-06-08 19:58] beckjake commented on #2515
I'm surprised we don't have an issue about this yet, thanks for writing it up!

I agree, also Windows should write to `%APPDATA%\dbt` or something like that, and macos should write to `~/Library/Application Support/dbt` (I think?). It looks like that library you linked might help on that front.

The problem here is going to be migration. This fix is going to break stuff for a lot of people! We sho

[2020-06-08 20:04] clausherther commented on #2253
@drewbanin this sounds very useful! I have a use case where I'd like to change schemas for _selected_ models on the fly, while not changing schemas for non-selected models. For example, I'd like to materialize a model I'm working on in a special "validation" schema but still make sure it gets its upstream data from the respective "production" schema. That way I could do a validation run of a model

[2020-06-08 20:18] drewbanin commented on #2377
Ok - thanks for the additional context for this one on Slack @DVAlexHiggs.

To recap: You're leveraging the [datavault package](https://dbtvault.readthedocs.io/en/latest/metadata/) which relies on `vars` to configure models pks, natural keys, load timestamps, etc. I do think the `dbt_project.yml` file was a poor place for configs like that historically, so in light of the vars changes in 0.17.0, w

[2020-06-08 20:23] balmasi commented on #2377
@drewbanin I think the order you've specified makes sense. This will be a huge help for uber-templated models

[2020-06-08 20:26] drewbanin opened #2516 "Support writing to external tables in dbt models"
### Describe the feature
Historically, to get data from Redshift into S3, you needed to run an `unload` command. It looks like a new query syntax, [create external table .... as](https://docs.aws.amazon.com/redshift/latest/dg/r_CREATE_EXTERNAL_TABLE.html) will allow dbt to write transformed data directly to s3.

The [dbt-external-tables](https://github.com/fishtown-analytics/dbt-external-tables) p

[2020-06-08 20:38] DVAlexHiggs commented on #2377
Yes the order makes sense, and I agree that `config` is better way forward

[2020-06-08 21:34] azhard commented on #1718
@drewbanin super helpful info thanks! Just pushed a PR, I decided to keep the implementation generic as there's a few ways that access_entries can be used

[2020-06-08 22:14] ee07dazn commented on #1862
Thanks @drewbanin for the information and a pointer. Apart from what you had suggested, i had to make change to the default__get_merge_sql macro to make that approach work. It works now but i am just not happy to make a change to something as low level as default__get_merge_sql. Probably i think i can update the snowflake_get_merge_sql to do this job. Thinking out loud...but thanks for the help.

[2020-06-09 03:13] johnoscott commented on #2498
The current Dockerfile uses

```FROM ubuntu:18.04```

but this change is proposing

```FROM ${PYTHON_BASE_IMAGE}```

is the plan to use an official python docker image like `python:3.8.3-slim-buster` ?

[2020-06-09 04:03] xinbinhuang commented on #2498
That will be just a placeholder. You can easily substitute whatever base image you like with `--build-arg PYTHON_BASE_IMAGE=<some-image>`.

[2020-06-09 04:04] xinbinhuang commented on #2498
@beckjake I see. I guess then this issue can be closed for now as it is not relevant to this repo.

That being said, what do you feel about the change, and do you want me to submit a new PR in the release repo?

[2020-06-09 12:33] beckjake commented on #2498
@xinbinhuang I believe I did implement that change! The new Dockerfile takes the things it cares about as buildArgs.

@johnoscott The Ubuntu dockerfile you're looking at is our test env Dockerfile. The "official" dockerfile that gets pushed to `fishtownanalytics/dbt` has always been a `3.8.x-slim-buster`-based image (I think)

[2020-06-09 12:40] johnoscott commented on #2498
OK good to know. Thanks for the clarification.

On Tue, 9 Jun 2020 at 22:33, Jacob Beck <notifications@github.com> wrote:

[2020-06-09 14:53] beckjake opened #2518 "Allow floats in package version fields"
### Describe the feature
A lot of existing packages have versions like `'1.0'`. In native env rendering, this becomes `1.0`, which is a float, and that fails validation. The workaround is to use `"{{ 1.0 | as_text }}"`, which people hate. We should just allow users to supply floats for git revisions/package versions and then convert them to strings internally when before doing version-y things.

#

[2020-06-09 15:05] beckjake opened #2519 "With --project-dir set, dbt_modules is not honored"
### Describe the bug
If you use the `--project-dir` flag, dbt does not look for dependencies in the correct place. The packages.yml/dbt_project.yml/etc is all loaded correctly, but the search for dependencies doesn't appear to honor the project directory.

I assume it's looking in ./dbt_modules instead of ${project_dir}/dbt_modules, though I haven't looked into it too deeply.

### Steps To Reprodu

[2020-06-09 15:16] azhard opened #2520 "Implement BigQuery Rename Relation functionality"
### Describe the feature
Currently the BigQuery adapter function that allows you to rename a relation isn't implemented - this feature request simply aims to implement that functionality

### Describe alternatives you've considered
Based on BigQuery documentation, there is no "out of the box" solution for this and instead, you must copy a table and then delete the original one so not much in the t

[2020-06-09 15:47] drewbanin commented on #2520
Thanks for opening this issue @azhard - we'll check out the PR!

[2020-06-09 16:07] ee07dazn commented on #1862
Hi @drewbanin : i have another question and please bear with me if its a silly one as i am new to the tool and still exploring it through a POC.

So i need to update the incremental materialisation to make sure i can use the "update_column" in config but rest of the materialisation does not need to change.

`{% materialization incremental, adapter='snowflake' -%}

  {%- set unique_key = config.get

[2020-06-09 16:59] #2434 closed

[2020-06-09 16:59] drewbanin opened #2522 "Sprint 48: Core (5/27/2020 - 6/10/2020)"

[2020-06-09 17:00] #2522 closed

[2020-06-09 17:00] drewbanin opened #2523 "Sprint 48: Core (5/27/2020 - 6/10/2020)"

[2020-06-09 17:00] drewbanin opened #2524 "Sprint 49: Core (6/10/2020 - 6/24/2020)"

[2020-06-09 21:57] hui-zheng commented on #2396
@jtcohen6 Hi hope all is well.

Just want to continue the discussion here. I don't think the BigQuery hourly partitioning is the final solution. hourly-partitioning is not ideal and shall not be used for long time range historical data, such as data over years.

The fundamental limitation about the existing insert_overwrite() macro is that it assumes that the result for insert_overwrite always con

[2020-06-09 22:33] seancron opened #2525 "dbt compile tries to create a schema as of 0.17"
### Describe the bug
When running `dbt compile` on version 0.17, dbt executes a `create schema if not exists` statement if custom schemas are defined. This is a unexpected change as previous versions of dbt did not try to create a schema during `dbt compile`.

### Steps To Reproduce
1. Install dbt 0.17
2. Setup a dbt project that defines custom schemas in `dbt_project.yml` using version 1 syntax (

[2020-06-10 01:36] jars commented on #2484
@beckjake & @drewbanin, excited to see this is tagged w 0.17.1 milestone!

Myself and @hochoy came across another problem with dbt RPC today; even with the spawn/fork patch applied. We suspect it's related to underlying issues described above.

In this instance the dbt RPC server will return compiled SQL for some other request that is either happening concurrently, or has happened in the past.

--

[2020-06-10 09:38] ee07dazn commented on #1862
I did redefine the macro "persist_docs" in my project and made the change in the materialisation to point to my macro. But now i get
" 'dbt.context.providers.RuntimeConfigObject object' has no attribute 'persist_relation_docs' "

[2020-06-10 15:47] alepuccetti opened #2526 "Add data processed info into dbt run logs for all statement types"
### Describe the feature
When using BigQuery `dbt run` logs should show the data scan value for create table statement and not just for script.

### Describe alternatives you've considered
No alternative

### Additional context
This specific improvement is about BigQuery. However, this might apply for other database too I do not have experience to give specific examples.

### Who will this benefit

[2020-06-10 15:52] drewbanin opened #2527 "Defer to prod manifest for partial runs"
See also #1612, #1603, and #2465

### Describe the feature
In a partial run of dbt (eg. `dbt run -m my_model+`), all of the parents of `my_model` and its children must exist for the run to succeed. To this end, we've built the `@` selector, but another helpful approach would be to defer to relations created by a production run when these parent models are referenced.

When dbt is provided a prod m

[2020-06-10 18:11] mdesmet opened #2529 "Ability to use the relations cache in run-operations"
### Describe the feature
The relations cache enables to quickly check if objects exist in the configured, however it's not available when doing dbt run-operation. This means that for every relations usage a schema query is launched towards the database, which is not very efficient.

![image](https://user-images.githubusercontent.com/9265503/84303006-8a0f0a00-ab56-11ea-9fe2-743a2c99ee88.png)

### D

[2020-06-10 19:00] beckjake opened #2531 "dbt should provide a way to signify that a field is a string at the yaml level"
### Describe the feature
Currently, in config files in dbt that are rendered in the native environment, we provide an `as_text` filter that dbt uses to identify a value that should not be converted to the native env rendering. We should provide a similar feature at the yaml level, so users can mark fields (perhaps even recursively?) as being "really strings" to either be rendered in the non-native

[2020-06-10 19:31] mdesmet opened #2532 "Extend vars support in run-operations to follow same conventions as standard dbt run"
### Describe the feature
The run-operation feature also supports vars, however they can only provided through CLI, this seems a bit cumbersome. Why can't it follow the same logic as within a dbt run as stated in https://docs.getdbt.com/docs/building-a-dbt-project/building-models/using-variables/#variable-precedence. This will provide the user to specify the vars in the yaml file just as usual inst

[2020-06-10 19:38] drewbanin opened #2533 "Write database-specific sample profiles.yml file in `dbt init`"
### Describe the feature

Let's add a flag to `dbt init` which controls the sample contents of the `~/.dbt/profiles.yml` file.

Example usage:
[code]

dbt's adapter plugins should provide their own sample profiles .yml contents. Presently, dbt writes out a Redshift-specific profile.

### Additional context
Hi Felipe :)

### Who will this benefit?
BQ/Snowflake/Postgres/Spark/Presto users!

[2020-06-11 00:21] drewbanin commented on #68
hey @doncorrea-vroom - can you create a new issue if you're having an issue with dbt v0.16.1? Thanks!

[2020-06-11 17:48] DrMcTaco commented on #1030
I can see this being useful in a few different situations.
- cost/usage tracking: all queries run by DBT against snowflake being tagged and thus traceable in snowflake query history
- snowflake optimization/debugging: tags at the model level for trending performance and anomaly detection.

I am considering starting work to resolve this issue and the above use cases make me think there may be at le

[2020-06-11 18:03] beckjake opened #2536 "Python 3.6.2 doesn't work with dbt 0.17.0"
### Describe the bug
Running dbt on python <= 3.6.2 results in an error that `name 'TimestampSnapshotConfig' is not defined`. 3.6.3 is unaffected.

### Steps To Reproduce
Install python 3.6.2
Install dbt
Try to use dbt

### Expected behavior
dbt should run, not crash, etc

### System information
**Which database are you using dbt with?**
Any

**The output of `dbt --version`:**
[code]

**The operat

[2020-06-11 18:06] rameesraja opened #2538 "better dbt error messages"
### Describe the bug
dbt threw an error, after our latest merge into the repository. We later realized that, it was because of missing quotes in cluster by config array. But, to identify this error, we had to remove models in trial and error to isolate the error. We would like more descriptive error message for easier isolation and fix.

[code]

### Steps To Reproduce

1) Using version 0.16.1
2) I

[2020-06-11 20:00] drewbanin commented on #2532
hey @mdesmet - I don't think I understand the question you're asking here -- dbt currently supports referencing variables from the `dbt_project.yml` file! Here's an example that I just tested with dbt v0.17.0:

[code]
-- macros/test_op.sql

{% macro test_op_vars() %}

    {% do log("var1=" ~ var('var1'), info=true) %}
    {% do log("var2=" ~ var('var2'), info=true) %}

{% endmacro %}
[code]
$ dbt

[2020-06-11 20:17] #1718 closed

[2020-06-11 20:22] drewbanin opened #2539 "persist_docs should consider column quoting"
### Describe the bug
When running a `dbt run`, sql statements to persist docs are failing for columns that must be quoted. dbt does not currently respect the [quote](https://docs.getdbt.com/reference/resource-properties/quote) config when building these DDL statements.

### Steps To Reproduce
[code]

[code]

[code]

Finally, execute `dbt run` and observe that persisting docs fails.

### Expected b

[2020-06-11 22:35] mdesmet commented on #2532
I got it to work with 0.17.0. I was still on 0.16.1, I was confused by the section on https://docs.getdbt.com/docs/building-a-dbt-project/using-operations#context that mentions that vars are limited to the CLI passed parameters.

Not sure if It also should work on 0.16.1?

Anyway this can be closed as it is already working. :)

[2020-06-11 22:35] #2532 closed

[2020-06-12 01:10] drewbanin commented on #2459
hey @DmitryMaletin - this is awesome! I spent a couple of mins playing around with something like this evening. I just want to your attention to [a script in the dbt codebase](https://github.com/fishtown-analytics/dbt/blob/dev/marian-anderson/scripts/collect-artifact-schema.py) that could help with something like this in the future. This script uses dbt's internal dataclasses to generate a json sc

[2020-06-12 01:17] drewbanin commented on #2253
@clausherther could you drop some thoughts into #2527? Your use-case sounds just like the one we have in mind for that feature! I think these two issues are definitely related :)

[2020-06-12 02:04] drewbanin commented on #1862
ha! Ok @ee07dazn - glad to hear that you got it working in 0.17.0! I think we should still proceed with getting a feature like this merged into dbt. If you're interested in opening a PR we'd be happy to help, otherwise, someone else might be able to pick it up in the future :)

[2020-06-12 11:30] whittid4 opened #2540 "Persist source descriptions to database"
### Describe the feature
Currently `description` fields are persisted to the appropriate relation (table/column) in the target database. Would it be a good feature to extend that to `sources`?

The current use case I have is that data is streamed from Kafka in to BigQuery. We then create a `source` in DBT pointing at that streamed table and have DBT staging models that refine the data and marts mo

[2020-06-12 12:13] bashyroger commented on #903
This is exactly what I am looking for!
IMO a  **run / test / error mart** is a **prerequisite** for any mature data pipeline. Especially to track data **run duration and data quality** over time. Such a model can then be used _as a source_ for firing alerts when data quality starts to _deviate from an average_ , a run deviates from an average etc....

Of course one could do this by bringing in oth

[2020-06-12 12:30] drewbanin commented on #2538
hey @rameesraja - thanks for opening this issue. When I try running the code you've shown above, I see an error like:
[code]

The model I'm running looks like:
[code]

Can you tell me what the actual columns you used in your `cluster_by` config were? I suspect this column name might have collided with a dbt internal context variable. I can reproduce the behavior you're seeing if I run something li

[2020-06-12 12:48] drewbanin commented on #1030
hey @DrMcTaco - I like the way you're thinking about this feature! I agree - I think we should support query tags both at the model level and at the connection level. We'd very much welcome a PR for this change.

Some rough implementation notes:
- We can add a parameter to the [SnowflakeCredentials dataclass](https://github.com/fishtown-analytics/dbt/blob/eea51bee30d79054637b2adfffc8d3fb0cf99ce3/p

[2020-06-12 12:55] drewbanin commented on #2529
@beckjake do you think there's a good/sensible way to expose methods for populating the cache for a given schema in user-space?

I could have sworn we had an issue for this, but I can't find it anywhere. The other approach I've been thinking about is lazily-loading the adapter cache. dbt would not build the cache up-front. Instead, dbt would fetch results from the db when `get_relation()` is calle

[2020-06-12 12:59] drewbanin commented on #2532
oh - that makes sense! For reference (and for anyone else that stumbles upon this issue): vars in dbt < 0.17.0 could be scoped to particular packages or paths.

This would not work for example:
[code]

Here, the vars `abc` and `def` are scope to the `models/some_path` path in the `my_package` package. This means that a macro called via a run-operation would not have these variables in-scope.

dbt

[2020-06-12 13:15] drewbanin commented on #2540
hey @whittid4 - this is a neat idea, and I _totally_ buy the reasoning, but I don't think this is something we're going to want dbt to do. dbt doesn't really touch source data, and I have concerns about baking something like this directly into dbt. For one: when would this code run? I don't think it should happen in a `dbt run`, and I don't know that there is really an appropriate subcommand for s

[2020-06-12 13:30] whittid4 commented on #2540
@drewbanin thanks for the response and your comment make sense.

I didn't realise how powerful the dbt graph context was. I will take a look and see if I can get a macro going. I get something working maybe I could contribute it to `dbt-utils`

[2020-06-12 14:09] beckjake commented on #2529
I think we should just expose a context function that calls `adapter.set_relations_cache(manifest)`. Optionally we could no-op it outside `run-operation`.

It would be nice to lazy-load the full schema in `get_relation` where the schema isn't cached, but it's a bit of a project. In addition to the cache-locking issue, I think there's some nuance about marking schemas as being "partially loaded" in

[2020-06-12 14:51] darrenhaken commented on #1059
Any movement on this?

[2020-06-12 15:18] clausherther commented on #2527
This is a slightly different and probably better approach than what I was describing in https://github.com/fishtown-analytics/dbt/issues/2253#issuecomment-640856849
In my example, we're trying to hack this use case by materializing a model in a special "validation" schema in the prod database while all of its upstream dependencies are previously run production tables. We currently do this by simpl

[2020-06-12 15:21] max-sixty opened #2541 "`--project-dir` with relative paths?"
### Describe the bug
`--project-dir` doesn't use relative paths, and I got confused given the error message

### Steps To Reproduce
Run a project in a child path; say we have a DBT project in a path called `sql` under the current one:

[code]

I was doubting my sanity for a second with `no dbt_project.yml found at expected path sql/dbt_project.yml`

### Expected behavior
Use relative paths, or if

[2020-06-12 15:39] drewbanin commented on #2541
hey @max-sixty - this tripped me up too! See here: https://github.com/fishtown-analytics/dbt/pull/2534#issuecomment-643272603

Let's definitely make relative paths work for `--project-dir` at some point in the future. This is a pretty tricky part of the codebase - dbt does lots of magic to support running `dbt run` from a subdir of a dbt project (eg. `models/`), so it might be a little involved to

[2020-06-12 17:17] rameesraja commented on #2538
This was the config which caused the error. Probably its the column name 'source'
{{
    config(
        cluster_by = [source, child_entity, dayd]
    )
}}

[2020-06-12 17:29] azhard opened #2542 "Pass config values to sources in dbt_project.yml"
### Describe the feature
In the `dbt_project.yml` file you can pass specific config values to models based on the folder structure. This is extremely useful so that you are not forced to pass in the same value in individual file configs. This pattern however doesn't work for sources. A project.yml sectoin that I would expect to work is as follows:
[code]

### Additional context
This should work ac

[2020-06-12 17:45] jtcohen6 commented on #2540
Totally agree with the reasoning here. I see this as a `run-operation`, rather than an embedded action within `dbt run`. I think it's powerful, compelling, and we want people to _really_ know what they're doing when they're running any statements against source data tables.

[2020-06-12 17:47] jtcohen6 commented on #2538
I might be silly for thinking this, but don't the column names need to be passed as strings? They're not Jinja variables:
[code]

[2020-06-12 17:55] jtcohen6 commented on #2542
Really good points @azhard, and I totally agree. Check out #2401.

There are two kinds of dbt config today:
- **node configs**, set in `dbt_project.yml` or using the `{{ config() }}` macro within model files
- **resource configs**, a.k.a. the `schema.yml` spec, set in any `/**.yml` files that are _not_ `dbt_project.yml`

Right now, source-specific configs such as `database` and `loader` can _only_

[2020-06-12 18:18] azhard commented on #2542
Thanks @jtcohen6, has there been any thoughts on when this feature is slated to be implemented?

[2020-06-12 18:23] jtcohen6 commented on #2401
What do we think about adding this to `1.0`?

[2020-06-12 22:59] rameesraja commented on #2538
@jtcohen6 : yes it was a mistakes by one of our developers. But the error message was not descriptive enough and that's why this issue is raised for.

[2020-06-13 17:20] tuannguyen0901 opened #2543 "Redshift connection lost for long-run query"
### Describe the bug
Redshift close connection if long-running query execute. I faced this issue with dbt run/test

### Steps To Reproduce
dbt run/test on a long running table creation query

### Expected behavior
DBT is able to hold connection until transactions complete

### Screenshots and log output

<details>
  <summary>logs</summary>

[code]
</details>

### System information
**Which databas

[2020-06-15 13:22] drewbanin commented on #2538
yep - let's add validation that the args for `cluster_by` are stringy - I think we have type information for all of these configs now, we just need to validate the user-provided info with the type information encoded in the config classes.

[2020-06-15 14:11] rbval opened #2544 "There are incompatible versions in the resolved dependencies"
Getting the following line when trying to install dbt 0.17.0 with pipenv:

[code]

This was with the following Pipfile:
[code]

Seems like `dbt` doesn't work at all if `boto3` gets separately installed within the same Pipfile. Only way I was able to fix this was by removing the `boto3` altogether, however this hides that dependency under `dbt`. Any way to handle this in `dbt`'s end?

[2020-06-15 15:04] christineberger opened #2545 "Enhancement: Make it more apparent when model specified in yml configuration does not exist in the project"
### Describe the feature
When doing a run or test, a warning is given when a yml file has a model specified to document/test against. This warning is easily missed.

To test this:
1. Create a .yml file and give it some documentation/testing parameters for a model that is not in the project.
2. Do a dbt run or dbt test and see the warning at the top.

Although the warning is there and you will catc

[2020-06-15 16:51] azhard opened #2546 "Implement BigQuery alter column type functionality"
### Describe the feature
Currently dbt uses the default macro implementation for altering column types which doesn't actually work with BigQuery. This feature would implement a BigQuery specific macro that allows users to alter column types.

### Describe alternatives you've considered
BigQuery currently has two methods user's can use to alter a column type. The first method is done purely in SQL,

[2020-06-15 18:00] jackiexsun commented on #2476
+1 This support would be great to have!

[2020-06-15 18:56] cosoare commented on #814
@drewbanin would be super useful if we could set the `location` of the source (dataset), similar to how we can define that in `profile.yml`, this is particularly useful for BigQuery datasets which live in a single region - currently dbt queries only using multiregion args, ie. `EU` `US`

Please see this Slack thread for a concrete example:
https://getdbt.slack.com/archives/C99SNSRTK/p1592241999380

[2020-06-15 19:11] jtcohen6 commented on #2546
Thanks for this @azhard, I'll leave a comment on the PR.

[2020-06-15 19:32] jtcohen6 commented on #814
Hey @cosoare, do you mind opening a new issue and include all the relevant details? We can continue the discussion there. I want to better understand the pros/cons of single-region vs. multi-region datasets.

[2020-06-15 21:05] mikaelene opened #2548 "Unable to override macros in adapter"
### Describe the bug
Some of the standard dbt macros can't be overridden by an adapter. I.e. Test, snapshots. This is present since dbt v0.16.0

### Steps To Reproduce
Create an adapter the aims to override the standard macro snapshot_check_strategy. This has made it impossible for the dbt-sqlserver adapter to follow along with newer dbt verison.

### Expected behavior
Expects that the macro is ov

[2020-06-16 06:32] davehowell commented on #1271
I'm on 0.16.1, seeing some dbt cloud jobs end with an error that seems related to this setting - these are jobs that are running for ages, 4+ hours, because there's a bit of a backlog of processing but that's another story.

The error is
[code]

I checked the parameter setting on Snowflake by running `show parameters in account` and it is set to `false`. So in theory there should be no token timeo

[2020-06-16 13:30] bodschut opened #2549 "persist_docs functionality doesn't persist descriptions on nested bigquery columns"
### Describe the bug
With the release of dbt 0.17.0, the persist_docs functionality was enhanced to also apply column descriptions to bigquery when they are supplied in a schema.yml file. However, it seems that it only takes into account top-level columns and there is no way to persist a description to a nested column (ie a field that is part of a RECORD type bigquery column).

### Steps To Reprod

[2020-06-16 13:51] DrMcTaco commented on #1030
Looks like you can just run one after another and the second will overwrite the first
<img width="551" alt="alter_tag_cmd" src="https://user-images.githubusercontent.com/25394508/84782687-56007280-afb6-11ea-96cf-5f0005781afd.png">
<img width="1250" alt="alter_tag_history" src="https://user-images.githubusercontent.com/25394508/84782796-74666e00-afb6-11ea-9318-8ee68fb73c18.png">

In other news I ha

[2020-06-16 14:54] drewbanin commented on #1030
Nice!

For the model-level configs, you'll want to add the `query_tag` config here to register the config with the Snowflake adapter plugin:

https://github.com/fishtown-analytics/dbt/blob/74c78ef9279638d14949d4e93ae76166d4fd8022/plugins/snowflake/dbt/adapters/snowflake/impl.py#L20-L27

As far as the jinja code is concerned, I'd grab this config value from the jinja context with `config.get('query

[2020-06-16 14:58] drewbanin commented on #2548
thanks for opening this issue @mikaelene! The issue you ran into specifically was around overriding the `snapshot_check_strategy` macro specifically, right? Or were there other specific macros that you were unable to override in the `dbt-sqlserver` plugin?

[2020-06-16 16:35] drewbanin commented on #1271
hey @davehowell - dbt Cloud does not currently support the `client_session_keep_alive` configuration, so I think the problem you're describing might be different from the bug that this issue was tracking.

This issue tracked a bug where, when the `client_session_keep_alive` flag was enabled, dbt would hang and become unresponsive at the end of a `dbt run`. It sounds like the issue you're having is

[2020-06-16 16:39] drewbanin commented on #814
Just pasting in the thread details from Slack since they disappear on us :)

You can indeed feel free to create a new issue for us to discuss this change, but I don't really think that dbt can help you here! BigQuery disallows querying datasets across regions. If you did provide a location for source datasets in BQ, there isn't really anything dbt could do with that information. The source data al

[2020-06-16 16:51] rameesraja opened #2551 "Template models for dbt"
### Describe the feature
Template models which lets us pass parameters, which are replaced while deploying.  We usually build aggregated models by frequencies like ('week','month','quarter','year') for our fact tables. To do this we have to build separate models for each frequency. If we can support template models, which will be let us pass frequency as a parameter it will be helpful.

Example:

[2020-06-16 17:11] drewbanin commented on #2544
hey @rbval - thanks for opening this issue! I might be a little confused here, but I don't see dbt stated in the Pipfile you've shown here. Maybe if you included that, I'd have a better idea of what your repro scenario is? That said:

I don't think this is a dbt bug -- I think this just how pip works. pip will install a suitable version of these modules, and their dependencies, in this order:
 - i

[2020-06-16 17:11] #2544 closed

[2020-06-16 17:50] beckjake commented on #2484
I've spent some time on this and I figured I'd get it up here for you all to chew on! There are really two issues here:

One, there is definitely a deadlock going on here on process fork. This has to do with a number of apparently well-known issues in Python where forking a new thread in a multithreaded environment is bad. I thought this was only true on macos, but it's actually a problem on all O

[2020-06-16 18:55] jtcohen6 opened #2552 "Support bq legacySQL queries, to access partition metadata"
### Describe the feature
Allow dbt to run Legacy SQL queries to access older BigQuery features that are not yet supported in Standard SQL.

The required change involves an ability to dynamically override [`job_params` in `raw_execute`](https://github.com/fishtown-analytics/dbt/blob/dev/marian-anderson/plugins/bigquery/dbt/adapters/bigquery/connections.py#L211). Ideally, there would be an additiona

[2020-06-16 19:50] ran-eh commented on #2552
@jtcohen6 It may be overkill to add a full blown feature for it - changing the signatures of run_query/statement, handling the new parameter as an error for non BQ etc.  It may be quicker (and dirtier) to have the BQ adapter look for `#legacySQL` at the top of the query text.

[2020-06-16 20:44] darwinyip opened #2553 "BigQuery Service Account JSON Authentication not working"
### Describe the bug
Trying to authenticate to BigQuery using [Service Account JSON Authentication](https://docs.getdbt.com/docs/supported-databases/profile-bigquery/#service-account-json-authentication) because I'm running dbt from a docker container. Since storing the creds inside the container is not safe, I am passing each field as environment variable and parsing them in `profiles.yml`.

###

[2020-06-16 21:17] darwinyip commented on #2553
I switch the method to `method: service-account-json` but now getting

The error message is too vague to troubleshoot further.

[2020-06-16 21:23] darwinyip commented on #2553
Fixed. It was an issue parsing the private_key

[2020-06-16 21:23] #2553 closed

[2020-06-17 02:57] LubiBel commented on #1518
I have used the commands to oauth for BigQuery. I can create data sets and tables in UI but when I run dbt then I get access denied. I just upgraded to 0.17 version. Any idea what could go wrong?

[2020-06-17 03:25] davehowell commented on #1271
@drewbanin thanks for the clarification. It's confusing for me too. Ideally I would never need the 4+ hours keep alive; I know the core issue is that these jobs should be optimized so they aren't running for so long, I can work around my current processing backlog by running some of the models individually.

[2020-06-17 05:26] mikaelene commented on #2548
it was specifically snapshot_check_strategy. But I had the same issue for all tests macros in 0.16. I solved that with a workaround solution in https://github.com/fishtown-analytics/dbt/pull/2414. But I think that there is probably a general problem that some macros can't be overridden since 0.16

[2020-06-17 08:10] bashyroger opened #2556 "Add COPY GRANTS to #Snowflake table materialisation"
### Describe the bug
Currently, doing a full table refresh on snowflake is done via create or replace table. Which works fine for the data side as the operation is atomic. However, existing grants are not copied when replacing the table, requiring a pre-hook to set them right. This can be corrected by adding **COPY GRANTS** to the CTAS command.
See https://docs.snowflake.com/en/sql-reference/sql/c

[2020-06-17 08:34] bashyroger commented on #1162
Even with the limitations native Snowflake MV's have, supporting them in DBT will become more useful once the **Transparent MV usage** functionality has been released _(in private preview at the moment of writing this)_. Basically this is functionality akin to Oracle's QUERY_REWRITE.
See my write up on this new feature (and others) and the SF new features video that mentions it:
https://www.linked

[2020-06-17 11:35] ramgopalan commented on #2423
Hi,

Facing the same issue in dbt 17.0 version, any quick fix for 17 version?

[2020-06-17 13:01] drewbanin opened #2557 "BigQuery project alias is ignored in config"
### Describe the bug
A user reported that a config like:
[code]

has regressed in dbt v0.17.0. While this config worked in a BQ project in dbt v0.16.1, they reported that they needed to change `project` to `database` to apply the configuration in dbt v0.17.0.

This issue needs to be reproduced - there may be other factors that impact the incidence of this regression.

### Steps To Reproduce
[code]

[2020-06-17 13:11] drewbanin opened #2558 "Support very long path names for compiled artifacts on Windows"
### Describe the bug
A user is reporting an issue when running `dbt compile`. The error is for a schema test .sql artifact, and it reads:

[code]

My guess is that the full path to this file is too long, and Windows either truncates the file path, or does something else unexpected, when dbt tries to write out this sql file.

Instead, let's catch this error, log a warning, and move on. Alternativel

[2020-06-17 13:24] beckjake commented on #2558
I believe this is pretty fixable! We need to prefix all our paths with `r'\\?\'` on windows, and make sure to normalize any paths we find because that syntax doesn't accept any `/` in paths. This is mostly hard because it's tedious to get every spot that writes files, not because it's actually a hard problem.

[2020-06-17 13:25] beckjake commented on #2557
I can reproduce this in a test.

[2020-06-17 13:25] drewbanin commented on #2551
Thanks for opening this issue up @rameesraja. See also #1637 -- I think there's a lot of overlap between these two proposals!

[2020-06-17 13:27] drewbanin commented on #2543
hey @tuannguyen0901 - thanks for opening this issue. Timeouts like these usually are not caused by dbt. They either happen because:
1. Redshift restarted and closed the connection OR
2. A network/firewall rule closed the idle connection after some timeout

You might be able to tweak the `keepalives_idle` config described [here](https://docs.getdbt.com/docs/supported-databases/profile-redshift) to

[2020-06-17 13:27] #2543 closed

[2020-06-17 13:29] drewbanin commented on #2558
Right on, thanks @beckjake! This one isn't really an 0.17.0 regression -- I'd be happy to do a cheapo version for 0.17.1 (that just catches the error and logs a warning) in the near-term, then do a more fundamental overhaul of windows pathing for our next scheduled feature release. What do you think?

[2020-06-17 13:31] beckjake commented on #2558
I think if we're catching this error, we might as well fix the path and try again, rather than log a warning.

[2020-06-17 13:31] tuannguyen0901 commented on #2543
when I changed the thread from 4 to 1, it fixed the issue. I think this related to multi-thread issue.

[2020-06-17 13:45] DmitryMaletin commented on #2459
Hi @drewbanin
Thank you for advice. I will have a look to suggested codes.

[2020-06-17 15:32] stvacs opened #2560 "plugin"

[2020-06-17 15:33] stvacs commented on #2560
Wrong repository :-(

[2020-06-17 15:33] #2560 closed

[2020-06-17 16:23] jtcohen6 commented on #1162
Hey @bashyroger, check out:
* Initial work on a `materialized_view` dbt materialization in [this repo](https://github.com/fishtown-analytics/dbt-labs-experimental-features)
* Yesterday's dbt community office hours ([youtube](https://www.youtube.com/watch?v=awj-5aYXZnc)). I mentioned the functionality akin to Oracle's `QUERY_REWRITE `, as it's the biggest feature currently supported for BigQuery's

[2020-06-17 16:29] jtcohen6 commented on #2556
Right on, @bashyroger. dbt has supported `copy grants` in Snowflake materializations since 0.15.0 ([changelog](https://github.com/fishtown-analytics/dbt/blob/dev/octavius-catto/CHANGELOG.md#snowflake)):
[code]
Can you give that a go and see if it does the trick? I'm going to close this issue, I encourage you to reopen if you run into any issues.

[2020-06-17 16:29] #2556 closed

[2020-06-17 16:29] drewbanin commented on #2545
good idea @christineberger! I think changing the color for this warning would work well. Let me know if this is something you might be interested in working on when you get some spare time 😉

[2020-06-17 16:30] drewbanin opened #2561 "Include docs changes"
Placeholder issue to merge in 0.17.1 changes for the dbt-docs website.

[2020-06-17 16:33] drewbanin commented on #2552
@jtcohen6 my instinct here is that we should not add new general-purpose support for legacy sql. If we want to make some helper adapter function that gets the zero-cost partitions for a table, we can certainly do that, but the more we can firewall this functionality from the rest of the plugin, the better IMO!

[2020-06-17 16:36] drewbanin commented on #2556
@jtcohen6 can you PR a change to the docs that adds this config to the list of Snowflake profile configs?

[2020-06-17 16:47] drewbanin opened #2562 "Support config aliases in dbt_project.yml file configs"
### Describe the feature
Databases like BigQuery support config aliases (eg. `project --> database`). These configs are supported inline in model `config()` blocks, but are not yet supported in the `dbt_project.yml` file.

Let's add support to bring these two configs inline with each other!

[code]

^ this should configure all models to be built into the `my_project` project

[2020-06-17 16:52] drewbanin commented on #2543
Do you think it's possible that when you run dbt with 4 threads, the queries take longer to run in Redshift? That's the most likely failure mode I can think of. Some things to check out might be:
 - Redshift Workload Management
 - CPU utilization on the cluster when you run with 4 threads
 - A comparison of runtimes for these models when dbt is run with 1 thread vs 4 threads

It's definitely possi

[2020-06-17 16:52] drewbanin commented on #2423
@ramgopalan are you also using dbt-sqlserver?

[2020-06-17 16:54] drewbanin commented on #1518
hey @LubiBel - did you follow the steps shown here? https://docs.getdbt.com/docs/supported-databases/profile-bigquery/#oauth-authorization

What does your `access denied` error message look like?

[2020-06-17 17:15] ramgopalan commented on #2423
Yeah @drewbanin

[2020-06-17 17:20] azhard opened #2563 "Support model selection based on materialization type"
### Describe the feature
Current model selection syntax works with selecting based on model names, sources, tags, packages, and paths. These solve the majority of potential use cases but adding the ability to select models based on a materialization type would be very handy.

A specific example where that can be used: my team's dbt setup currently auto-runs changed models on production when an MR

[2020-06-17 18:04] drewbanin commented on #2563
hey @azhard - thanks for opening this issue. This is a dupe of https://github.com/fishtown-analytics/dbt/issues/2425, prioritized for our next feature release. Closing this!

[2020-06-17 18:04] #2563 closed

[2020-06-17 18:05] azhard commented on #2563
Awesome! Thanks @drewbanin

[2020-06-17 19:26] clrcrl opened #2564 "dbt docs generate fails when a column name is " ""
### Describe the bug
A clear and concise description of what the bug is. What command did you run? What happened?

### Steps to reproduce
1. Create a model with a column name `" "` (I know)
[code]
2. Run `dbt docs generate`

(Note this also applies to source tables with this column name, but easiest to reproduce by creating a model)

### Expected behavior
An error, but with a good message

### Act

[2020-06-17 20:07] beckjake commented on #2525
Fixed in #2528

[2020-06-17 20:07] #2525 closed

[2020-06-17 20:07] beckjake commented on #2519
Fixed in #2534

[2020-06-17 20:07] #2519 closed

[2020-06-17 20:08] beckjake commented on #2518
Fixed in #2535

[2020-06-17 20:08] #2518 closed

[2020-06-17 20:08] beckjake commented on #2536
Fixed in #2537

[2020-06-17 20:08] #2536 closed

[2020-06-17 20:09] beckjake commented on #2541
Fixed in #2534

[2020-06-17 20:09] #2541 closed

[2020-06-17 20:25] drewbanin commented on #2539
This is not a regression per se - moving it to the Marian Anderson milestone

[2020-06-17 22:57] #2444 closed

[2020-06-17 23:15] mike-weinberg commented on #1162
Since this thread is warming up, let's make it spicy 🌶️ !

Snowflake recently announced a clever feature they're calling "transparent materialized views".

In the future, if a plan node of a query is equivalent to or is a subset of the plan node of a materialized view, then the materialized view will be used, even if it isn't referenced, because it is provably equal.

So, if you identify common ag

[2020-06-18 00:51] christineberger commented on #2545
@drewbanin I absolutely would love to take a stab at this! I can't promise I'll get anywhere, but I will definitely try. =)

[2020-06-18 08:42] bashyroger commented on #2556
Ah, totally missed this @jtcohen6 ! I see it in the docs now (https://docs.getdbt.com/reference/resource-configs/snowflake-configs/), my bad!

[2020-06-18 09:22] bashyroger opened #2568 "Option to "Continue loading from failure point" when restarting a previous failed run"
### Describe the feature
1st, this request is a sort if _inverse_ of [2142](https://github.com/fishtown-analytics/dbt/issues/2142)

When a model run fails, all dependent, downstream model runs are skipped.
Now, when you fix your error and you restart a run, it would be great that you could continue it / **retry from the point of failure** with a flag like  `continue_from_last_failure` or `skip_alr

[2020-06-18 13:13] #2557 closed

[2020-06-18 13:21] clrcrl opened #2569 "Empty target in profiles.yml results in an unhelpful error message"
### Steps to reproduce
1. Create a profile like so (note empty `learn:` key)
[code]
2. Run `dbt debug --profile jaffle_shop`

### Expected behavior
A useful error message

### Actual behavior
[code]

**The output of `dbt --version`:**
[code]

### Additional context
This came up because someone had their profile indented incorrectly:
[code]

[2020-06-18 14:21] jtcohen6 commented on #2568
I agree this would be _very_ compelling. It's already on our radar, as one of the intended use cases of #2465. Could you take a look at that issue, and comment here if it differs from what you had in mind?

[2020-06-18 16:31] ramgopalan commented on #2423
Hi @drewbanin  Any updates?

[2020-06-18 17:35] aaronsteers opened #2570 "`docs generate` times out and fails"
### Describe the bug

When running docs generate, our project is timing out with the error message:

[code]

Full log below.

### Steps To Reproduce

`dbt docs generate --target=$DBT_PROFILE`

I should also note that `dbt run`, `dbt compile`, and `dbt list` all run without issue.

### Expected behavior

Normally this runs in just a few minutes.

* If there's a block/lock on the database side (snow

[2020-06-18 18:39] max-sixty opened #2571 "Link broken in docs?"
### Describe the bug

On this page: https://docs.getdbt.com/reference/resource-configs/schema/
<img width="858" alt="image" src="https://user-images.githubusercontent.com/5635139/85059257-31440080-b158-11ea-9621-4eeb5873ecac.png">

There's a link to this page under `Using Custom Schemas`: https://docs.getdbt.com/reference/resource-configs/schema/

...which gives me a `Page Not Found`

<img width="

[2020-06-18 18:39] drewbanin commented on #2484
closing via #2554, but we may need to revisit this issue if the implemented fix results in intractable performance characteristics

[2020-06-18 18:39] #2484 closed

[2020-06-18 19:59] jtcohen6 commented on #2570
@aaronsteers Could you look in the `logs/` for the exact SQL statement that was hanging in Snowflake? The `Building catalog` step involves running several metadata queries, I think we'll need to know which one is the culprit.

[2020-06-19 00:23] aaronsteers commented on #2570
@jtcohen6 - Bother! Embarrassed to say this, but I apparently didn't preserve my logs. This is running in a CI pipeline and a few commits back I changed the output directory in dbt_project.yml without also updating it in my CI scripts.

I will check there in that folder next time I see this issue and will post back here.

[2020-06-19 07:11] bashyroger commented on #2568
#2465 indeed makes possible what I request @jtcohen6! So, this ticket is a duplicate of that one / can be closed.

The core indeed is that you need to start **tracking state** of everything that ran.
IMO that should be done in a database, that you then also can use for **reporting on your runs**, either directly in DBT cloud or (even better), by logging that data to the target analytical solution

[2020-06-19 09:48] bashyroger commented on #2465
This would indeed be great to have. Imo this really requires tracking model run state in a database.
Especially when running a large pool of connected models, having the option to continue on failure point will save a lot of reprocessing overhead and thus time / costs

[2020-06-19 11:17] rbval opened #2573 "dbt run gives different output than running with DataGrip"
Running my sql with DataGrip gives the correct timestamps:
![image](https://user-images.githubusercontent.com/6399810/85127066-63785f80-b237-11ea-87ba-1510f5a0fa23.png)

Running the same sql with `dbt run` gives everything 3 hour earlier:
![image](https://user-images.githubusercontent.com/6399810/85126924-201df100-b237-11ea-8822-b2e051100342.png)

I have my database in UTC, timestamps in UTC, Data

[2020-06-19 13:56] jtcohen6 commented on #2568
I see what you mean. While dbt has had a light touch historically in terms of the metadata it persists in the database—almost none, outside of snapshots and a (fairly slow) add-on [logging](https://github.com/fishtown-analytics/dbt-event-logging/pull/27) package—there is good cause to start preserving past invocations and state to power longitudinal analysis.

Some datasets are conducive to that r

[2020-06-19 13:56] #2568 closed

[2020-06-19 14:19] cabouffard opened #2574 "Running `dbt snapshot` succeed the first time but fails the other times"
### Describe the bug
I'm running DBT 0.17 and we've been playing with the snapshot feature.

I'm hitting an oddity that I'm not sure how to resolve or what to understand from it.

Keep in mind that my tables currently have no data inside them.

* The first time I run `dbt snapshot` everything is successful: https://share.getcloudapp.com/E0uzrezL
* The second time and subsequent time I run DBT I ge

[2020-06-19 14:21] jtcohen6 commented on #2573
@rbval DataGrip and dbt are both tools that run exactly the SQL you tell them to. Any discrepancy here is going to be the result of:
* running different SQL between the different tools
* DataGrip trying to convert the timezone of timestamps it shows you in its UI

I think we'll need a little more context to figure out what's amiss here:
* Which database are you using?
* What is the exact SQL expre

[2020-06-19 14:37] #2573 closed

[2020-06-19 15:34] jtcohen6 commented on #2574
Thanks for the detailed writeup, @cabouffard.

Here's what _should_ be happening in the snapshot materialization on all subsequent runs:

1. dbt creates a temporary "staging" table, e.g. `snapshot_shipmonk__shipping_addresses__dbt_tmp20200618215824103241`, that contains all records that have been updated since the last time you added records to the snapshot table, i.e.
[code]
2. dbt grabs the list

[2020-06-20 15:17] drewbanin commented on #2574
This report reminds me a lot of #2197. The identifier `snapshot_shipmonk__shipping_addresses__dbt_tmp20200618215824103241` is 67 bytes long, which is unfortunately longer than the 63 byte limit on postgres :(

So, dbt is indeed creating the temp table, but postgres silently drops the last four characters of the temp table name. When we go to look up the columns in this table in the information sch

[2020-06-21 21:21] jars commented on #2484
thx @beckjake & @drewbanin !!

[2020-06-21 22:49] hochoy commented on #2484
^ Thanks everyone, amazing request and response!

[2020-06-22 13:36] clrcrl opened #2578 "Allow instances of generic data tests to be documented"
### Describe the feature
Currently, you can document pretty much everything _but_ a [data test](https://docs.getdbt.com/docs/build/data-tests#overview) - if you try, it fails on a parsing error. This ticket is for [generic data tests](https://docs.getdbt.com/docs/build/data-tests#generic-data-tests). A separate ticket addresses [singular data tests](https://docs.getdbt.com/docs/build/data-tests#si

[2020-06-22 14:12] bodschut commented on #2526
Hi Guys,

While the bytes processed is an interesting KPI for those bigquery customers that are on an on-demand pricing, the averages slot usage of a query is interesting for those customers on a slot commitment.

It is very similar to calculate from the query job object you get when launching a query: you have to calculate the duration of the query in milliseconds using ```query_job.ended - query

[2020-06-22 15:08] jtcohen6 commented on #2526
@bodschut Thanks for the suggestion! We're packing a lot of info into limited horizontal space right now. Your point has crystallized for me that we should give the user more control.

Here's what makes sense to me: a set of [additional configuration parameters](https://docs.getdbt.com/docs/running-a-dbt-project/using-the-command-line-interface/configure-your-profile/#additional-profile-configurat

[2020-06-22 15:17] landbay-brunomurino commented on #2437
I want to give it a shot at implementing this!

My idea is to add a new config option 'aws_profile' to profiles.yml, when the method is IAM, and pass that config to the boto3 call that gets the authentication.

Does that sound reasonable?

[2020-06-22 15:19] jtcohen6 commented on #2542
@azhard We added #2401 to our `1.0` list, so it's slated for the medium term. I'm going to close this issue as a duplicate in the meantime.

[2020-06-22 15:19] #2542 closed

[2020-06-22 15:31] jtcohen6 commented on #2437
To be clear, your proposal is that we _shouldn't_ add additional parameters for all of:
* `AWS_ACCESS_KEY_ID`
* `AWS_SECRET_ACCESS_KEY`
* `AWS_SESSION_TOKEN`
* `AWS_DEFAULT_REGION`

Instead, we should expect users to configure those via boto3, and to identify a set of credentials by its profile name. Does that sound right?

If so, that sounds like a quick addition to me. It's all yours @landbay-br

[2020-06-22 15:38] landbay-brunomurino commented on #2437
Think so, yeah. I think (and correct me if I'm wrong) most users of AWS would have the .aws folder with their credentials and profiles, so simply pointing to the correct profile would enable all sorts of connections.

Thanks! Actually I'm struggling with something @jtcohen6  I've set up the environment but am struggling to run the unit tests specific to redshift, it doesn't connect successfully an

[2020-06-22 15:51] alepuccetti commented on #2526
@jtcohen6 Having the user configure it is a good idea. I second that. I am up for implementing the configuration parameters, might take a while, I am doing this in my spare time.

About the average slots usage. I had a discussion with google engineers on how to measure slots utilisation to estimate if it is worth it moving to flat-rate pricing and how to evaluate the performance implications. The

[2020-06-22 16:07] bodschut commented on #2526
Hi @alepuccetti

You are right to say that the slot usage is not the only parameter to consider a move to a slot commitment. But, it's an interesting indicator when you are on a slot commitment and need to optimize your slot reservations for certain projects. At that point, knowing which queries consume how many slots on average can be interesting to optimize or to decide on upgrading your commitm

[2020-06-22 16:09] jtcohen6 commented on #2437
@landbay-brunomurino You shouldn't need any database connection to run unit tests. Are you able to run `make test-unit`?

If you're trying to run integration tests, you _will_ need to define Redshift credentials as environment variables in a file called `test.env`, as in [`test.env.sample`](https://github.com/fishtown-analytics/dbt/blob/dev/marian-anderson/test.env.sample).

[2020-06-22 16:12] drewbanin commented on #2526
Huh, I think that this is a string templating issue, and I think Jinja could be a good tool to solve that kind of problem :)

I think we should keep the focus narrow for this particular PR, but in the future, I would like to:
1. Provide a config option that accepts a templated string for the model status
2. Provide a context that has variables in scope (like `job`, `materialization`, `status`, `ru

[2020-06-22 16:16] alepuccetti commented on #2526
@drewbanin This is a great idea. I am not sure I will be able to implement something like that with my limited knowledge of dbt internals.

@drewbanin This is a great idea.

[2020-06-22 16:17] alepuccetti commented on #2526
@bodschut I like the idea of having a slot usage metrics. I just think it needs more discussion. Because it is not straightforward like number of rows or byte processed.

[2020-06-22 16:18] bodschut commented on #2526
Agreed, let's move it to another discussion. But with the suggestion of @drewbanin it could all be included: if you have a job object in your variable scope, you can output the slot usage using macro's for example.

[2020-06-22 16:20] landbay-brunomurino commented on #2437
Yea, sorry, I didn't mean unit tests, I meant the integration tests. I was able to run `make test-unit` successfully.

I did define the credentials in the `test.env` but that's not working.

May not be relevant, but I connect to redshift via SSH tunnel, and when running DBT via docker I need to specify an internal docker host ip output of `dig +short host.docker.internal`, instead of `localhost` w

[2020-06-22 18:50] #2546 closed

[2020-06-22 18:56] jtcohen6 commented on #2437
Got it, that is tricky. I haven't ever tried connecting to Redshift via Docker + SSH; I agree your error message is promising as far as the connection, but unexpected otherwise.

For what it's worth, when you open a PR, CI tests against a sandboxed Redshift cluster will run automatically. As long as you can do some end-to-end testing of your changes locally, I think it's fine to open a fork PR and

[2020-06-22 19:26] jtcohen6 opened #2580 "Configurable node status in log output"
### Describe the feature
Users should be able to control the information that dbt includes in its standard log output.

Per @drewbanin in #2526:
1. Provide a config option that accepts a templated string for the model status
2. Provide a context that has variables in scope (like `job`, `materialization`, `status`, `runtime`, etc)

### Describe alternatives you've considered
* We continue to make t

[2020-06-22 19:27] jtcohen6 commented on #2526
I opened a new issue, let's keep the discussion going over there: https://github.com/fishtown-analytics/dbt/issues/2580

This issue will (rightly) be closed when we merge #2530.

[2020-06-22 20:41] #2545 closed

[2020-06-22 21:17] drewbanin commented on #2561
closed by https://github.com/fishtown-analytics/dbt/pull/2565

[2020-06-22 21:17] #2561 closed

[2020-06-22 21:17] drewbanin commented on #2558
closed by https://github.com/fishtown-analytics/dbt/pull/2566

[2020-06-22 21:17] #2558 closed

[2020-06-22 21:41] landbay-brunomurino commented on #2437
@jtcohen6 I got it working locally now, but not sure about the test you mentioned before. If the sandboxed redshift/aws is configured with the default profile, then the current test should pass fine as the new option (profile) is optional.

I created the [PR](https://github.com/fishtown-analytics/dbt/pull/2581) for this , but the first of the CI tests failed with
[code]

I'm not sure what's the is

[2020-06-23 14:59] bodschut opened #2582 "Make dbt 'schema-aware'"
### Describe the feature
Today, dbt makes it very easy to make changes to existing models. On top, the dbt model selection syntax makes it easy to deploy different sets of models, including single models and models together with their parents and/or children (even a given number of parents/children as from dbt 0.18.0).

One downside of this flexibility of dbt is that there is no protection against

[2020-06-23 15:59] beckjake opened #2583 "configured hooks are eagerly rendered when prefixed with a `+`"
### Describe the bug
When using config-version 2, users can prefix a config item with a `+` to make sure it isn't treated as a part of the "config hierarchy". While it's only important for dictionaries, it's accepted for any key inside a resource configuration block (`models`, `seeds`, etc). However, prefixing `pre-hook` or `post-hook` to make them `+pre-hook: ...` or `+post-hook: ...` caused them

[2020-06-23 17:54] VigneshwaranSundaresan opened #2585 "dbt_utils.surrogate_key — Syntax error"
### Describe the bug

vigneshwaransundaresan@Vigneshwarans-MacBook-Pro my-first-dbt-project % dbt run --m example.insert_sample
Running with dbt=0.17.0
* Deprecation Warning: dbt v0.17.0 introduces a new config format for the
dbt_project.yml file. Support for the existing version 1 format will be removed
in a future release of dbt. The following packages are currently configured with
config versio

[2020-06-23 18:43] cabouffard commented on #2574
Is the suggested fix for us to reduce the length of the table name to ensure that it's always below 63 bytes long until an "official" fix is released?

[2020-06-23 20:15] jtcohen6 commented on #2585
Hey @VigneshwaranSundaresan! In general, when you need specific support debugging something, your best first bet is to message our [Slack community](http://community.getdbt.com/), rather than opening an issue here.

`dbt_utils.surrogate_key` isn't actually defined in this repository, it's defined in the [dbt-utils repository](https://github.com/fishtown-analytics/dbt-utils). If you run into a spec

[2020-06-23 20:15] #2585 closed

[2020-06-23 20:38] jtcohen6 commented on #2582
Thanks for the discussion above @bodschut! You're right that this is an important issue, and any implementation would be complex undertaking.

In general, our approach has been to run CI jobs that build and test all child models any time there is a proposed change to an existing model. It's a brute-force approach, in that it requires materializing models in a scratch schema in the database. We've

[2020-06-23 20:39] #2526 closed

[2020-06-23 21:05] azhard opened #2586 "Add support for adding BigQuery policy tags"
### Describe the feature
Policy tags are a BigQuery feature that allows users to set column level access control ([docs](https://cloud.google.com/bigquery/docs/best-practices-policy-tags)). After a tag has been created, it can be added programatically via the [BigQuery python library to columns](https://googleapis.dev/python/bigquery/1.25.0/generated/google.cloud.bigquery.schema.SchemaField.html?h

[2020-06-24 00:58] drewbanin commented on #2574
Glad to hear you got it working! There really isn't anything we can do to _fix_ this -- we will instead just add a very prominent and notable error message whenever dbt tries to create a table/view > 63 characters long on Postgres. It's not an ideal outcome, but it's better than the failure mode that you observed here IMO!

I'm closing this in favor of #2197 -- this should be addressed in our next

[2020-06-24 00:58] #2574 closed

[2020-06-24 07:24] bodschut commented on #2582
Hi @jtcohen6

Thanks for your take on this. I was not aware on the work on issue #2465 , very interesting! Is there any roadmap for implementing this functionality?

I guess that what I am proposing here takes it even a step further. I agree that you can get a long way using CI/CD, but you must agree that it's always quite some overhead to setup a good CI/CD setup for each project, as the complexi

[2020-06-24 07:28] bodschut commented on #2549
Should we close this issue @beckjake ?

[2020-06-24 10:10] machupichu commented on #1755
@drewbanin I am also very interested in that feature! I am trying to tweak your star macro to add a regex argument to select only a subset of columns based on this regex! I guess the PR hasn't been opened/merged, right ?

[2020-06-24 13:19] drewbanin commented on #2549
closed by https://github.com/fishtown-analytics/dbt/pull/2550

Thanks for your contribution @bodschut!

[2020-06-24 13:19] #2549 closed

[2020-06-24 14:13] #2437 closed

[2020-06-24 17:29] aaronsteers commented on #2172
I'd like to propose an alternative implementation for the "diff-only" proposal which is based upon my own prior learnings with similar architectures.

1. During DBT run, the source code of this node is hashed, and the result is hashed with the hashes of all upstream models and the dbt version number. The new hash can be stored on the object itself or in manifest.json as a uniqueness key hash.
2. D

[2020-06-24 19:54] jtcohen6 commented on #2586
Thanks for the detailed writeup, @azhard! Since dbt adds labels and descriptions to tables and views when initially creating them, it makes sense enough to me that dbt could add these policy tags as well.

Is this a feature you'd be interested in contributing?

I'm inclined to require users to fully qualify tag names, unless you have a strong feeling for us systematizing these in a highly opiniona

[2020-06-24 21:29] chrisluedtke opened #2587 "Empty string in `accepted_values` fails the test"
### Describe the bug
When using an empty sting, `''`, in an `accepted_values: values` list, the compiled SQL checks for `'None'`, which fails the test if the data actually contain an empty string.

### Steps To Reproduce
[code]
[code]

### Expected behavior
Test for and accept a `''` accepted value.

### System information
**Which database are you using dbt with?**
- [ ] postgres
- [ ] redshift
-

[2020-06-24 21:40] azhard commented on #2586
Yeah more than happy to work on this! With respect to the tag names, I think having the user fully qualify them makes sense as well so will incorporate that into the PR.

What're your thoughts around the `meta` field that I mentioned? Do you think it makes sense to have users define the tags in `meta` or have a new field specific to bigquery schema files?

Also re: the related issues. Both make se

[2020-06-24 21:49] jtcohen6 commented on #2587
@chrisluedtke We changed the way that data types are rendered between YML/Jinja in 0.17.0. Could you try changing your test definition to one of:
[code]
Or:
[code]
And see if that works?

I realize both double-quoting and adding the filter feel a bit awkward. We're thinking about what a better longer-term solution would look like (see https://github.com/fishtown-analytics/dbt/issues/2531).

[2020-06-25 12:35] darrenhaken commented on #2459
This looks great to me, any progress on it?

[2020-06-25 13:37] darrenhaken commented on #2401
I would love this feature to be added.

I asked a question about `meta` being hierarchical in the DBT channel.
I'd like to be able to define metadata at a higher level (such as mart) and have it propagate.

An example would be `owner` like in your examples.

@drewbanin signposted this issue for me to comment out.

[2020-06-25 14:20] azhard commented on #2586
@jtcohen6 ended up sticking them in the `tags` field that already exists in my PR. Happy to change that as needed

[2020-06-25 14:27] jtcohen6 commented on #2586
I'm supportive of that. `tags` is a field that we understand to have some functional purpose. As I see it, `meta` really _just_ exists to persist an arbitrary dict of information into `manifest.json` and the documentation site.

[2020-06-25 14:46] #1030 closed

[2020-06-25 16:38] brunomurino commented on #2516
I'm thinking about this, reading redshift's [documentation](https://docs.aws.amazon.com/redshift/latest/dg/r_CREATE_EXTERNAL_TABLE.html), and I wonder how would DBT handle the schema targets for this, as, I believe but may be wrong, you can only have 1 external schema per data catalog, which is tied to the database.

I think this feature touches on the idea of an AWS Athena adapter, relying only o

[2020-06-25 17:11] drewbanin opened #2592 "Long windows paths error out when writing artifacts"
### Describe the bug
We tried to fix this in 0.17.1-rc1 (#2566) but it appeared to still be an issue in the RC.

### Expected behavior
Long paths on windows should not fail a run. FileNotFoundErrors should be written to the debug logs, not stdout.

[2020-06-25 17:13] drewbanin commented on #2583
fixed in #2584

[2020-06-25 17:13] #2583 closed

[2020-06-25 17:16] brunomurino commented on #2533
I'm happy to take this, if still available @drewbanin

[2020-06-25 17:45] jtcohen6 opened #2593 "Storing test results in the database"
### Describe the feature

dbt testing is powerful; being notified when a test fails can be life-saving; debugging those failed tests could be easier!

There are two long-lived issues related to this subject ([#517](https://github.com/fishtown-analytics/dbt/issues/517) and [#903](https://github.com/fishtown-analytics/dbt/issues/903)), and dozens of valuable comments on both. After discussing with s

[2020-06-25 17:48] jtcohen6 commented on #903
Hey @bashyroger, thanks for bringing this topic back to the fore. I just opened a new issue to sketch out our latest thinking about how dbt should store tests in the database: https://github.com/fishtown-analytics/dbt/issues/2593

[2020-06-25 17:59] brunomurino commented on #2533
I'm trying to set up a try-catch with the possible adapter options, but can't seem to find a 'list' of possible adapters. I found some stuff in `dbt/core/dbt/include/global_project/macros/adapters/common.sql` but not sure this is it.

My idea is to create a template profiles.yml in each adapter folder and create a dictionary such that `STARTER_PROFILE[sample_adapter]` would get the sample from the

[2020-06-25 18:19] beckjake commented on #2533
There is no formal list of possible adapters, because users can write their own adapter plugins.

In #2590, I added a `get_include_paths` function to `dbt.adapters.factory`, and the first item in the return value of `get_include_paths` is always the given adapter's project. Assuming it gets merged, taht might make this easier. Each adapter plugin could have a `sample_profiles.yml` inside its inclu

[2020-06-25 18:45] brunomurino commented on #2533
makes sense, it would indeed make it easier.

I'm trying to checkout the branch `fix/adapter-macro-namespacing` but can't find it (?).
If I can't check that out, then I'd just wait on your PR to bet merged

[2020-06-25 18:49] beckjake commented on #2533
@brunomurino you might have to set up `fishtown-analytics/dbt` as a git remote and `git fetch` that, I think like this:

[code]
That will probably drop you into a detached HEAD state, so then you'll need to use `git checkout -b` to create a new local branch

[2020-06-25 23:02] brunomurino commented on #2533
Worked like a charm.

Just created the PR for this: https://github.com/fishtown-analytics/dbt/pull/2594
alongside PRs for [presto](https://github.com/fishtown-analytics/dbt-presto/pull/26) and [spark](https://github.com/fishtown-analytics/dbt-spark/pull/98).

[2020-06-25 23:34] brunomurino commented on #2593
Heya, just giving my 2 cents here.

If you want to write stuff to the database, why not make it a model?

A few weeks ago people asked me this exact same thing about storing test failure results in the db, in order for them to be able to fully deprecate a much more expensive tooling they had in place. The solution I came up with was to have tests as models that output a single line, with exactly 1

[2020-06-26 04:39] christippett opened #2595 "Consider removing dbt_user from dbt's Docker image"
### Describe the feature
The Dockerfile definition for dbt creates `dbt_user` as the user to run subsequent commands under. This can cause issues when mounting volumes where the host filesystem is owned by root. The specific situation I'm thinking of is using the dbt Docker image as a build step in a CI environment, it's common for the files/directories in these environments to be owned by root, b

[2020-06-26 13:02] beckjake commented on #2595
This sounds really reasonable to me. I think the permissions change is just a regression from switching build systems, but I don't think there's any good reason to use `dbt_user`. It seems to cause a lot of trouble for end users and the upside is limited. I think the main advantage is it doesn't change all my local files to be owned by root when I run it in a mount, but I don't really use it enoug

[2020-06-26 18:59] jtcohen6 commented on #2587
Closing in favor of #2531, since the real resolution is to provide users with a less cumbersome way to define empty strings in YML/Jinja.

[2020-06-26 18:59] #2587 closed

[2020-06-29 13:07] drewbanin opened #2597 "yaml quoting not working with NativeEnvironment jinja evaluator"
### Describe the bug
dbt's NativeEnvironment introduced a functional change to how Jinja strings are evaluated. In dbt v0.17.0, a schema test can no longer be configured with a quoted column name.

### Steps To Reproduce
[code]

[code]

**Results:**
[code]

### Expected behavior
I would expect the yaml/jinja string `'"MyId"'` to be resolved to the string `"MyId"`, not `MyId`.

**The output of `dbt

[2020-06-29 13:29] drewbanin opened #2598 "Seed descriptions are not persisted on BigQuery"
### Describe the bug
When `persist_docs` is configured to persist descriptions for BigQuery relations, the resulting seed tables in BigQuery are not build with relation-level descriptions.

### Steps To Reproduce
[code]

[code]

[code]

The resulting relation is not configured with a description in BigQuery.

### Expected behavior
I expect to see a configured description in BigQuery for the seed t

[2020-06-29 13:46] jml commented on #2598
Note: the column descriptions _are_ being persisted.

[2020-06-29 13:56] beckjake commented on #2598
We create seeds on bigquery via `load_table_from_file`, which doesn't let us set a description as far as I can tell. We'll have to add a second step that adds a comment after the fact.

[2020-06-29 13:57] beckjake commented on #2597
Is this a dupe of https://github.com/fishtown-analytics/dbt/issues/2468 ?

[2020-06-29 14:20] drewbanin commented on #2597
I don't think so -- the issue here is that strings like `'"my string"'` are being stripped of quotes, right?

[2020-06-29 14:54] jtcohen6 commented on #2597
As I understand it, a resolution to #2468 could offer a resolution here too, if `debug.MyId` were configured with `quote: true`.  But the more straightforward issue is around the ability to pass quotes as part of a string value through the native env, which I think more closely relates to #2531.

Cringe-y, but this does work:
[code]

[2020-06-29 15:04] drewbanin commented on #2597
yeah - I believe that this is a yaml/jinja parsing/rendering issue. If that's the case, we should fix this for 0.17.1. If not, then we can investigate other options. My instinct here is that this isn't directly related to the `relationships` test, but I have not yet verified that this is the case.

[2020-06-29 15:10] beckjake commented on #2597
Well I'm not sure how we can handle that without customizing the yaml/jinja parsing stuff further. Yaml eats one level of quotes, jinja eats another. Neither part really "knows" about quoting. I think the best fix is to honor the `quote` parameter and tell people to use that.

[2020-06-29 15:25] drewbanin commented on #2597
These configs aren't typed as database identifiers -- I don't think the `quote` config is a good general solution to this problem. We need to provide a way for users to supply quoted strings to yaml configs.

Didn't we take specific action to preserve these quotes? I see the `_requote_result` method in `clients/jinja.py` but it doesn't appear to me that we're calling it anywhere. I don't recall in

[2020-06-29 15:49] beckjake commented on #2597
It was removed as part of #2395 because (I thought) we were successfully avoiding calling the renderer on column names. We can put it back, I guess.

[2020-06-29 16:09] drewbanin commented on #2597
Ok, thanks for the info. I just don't like the idea of dbt needing to be overly smart about where/when it chomps off wrapping quotes. The column name change in #2395 is a good one, but I'd hesitate to add similar logic for the `relationships` specifically test given that:
1. Any user could supply their own schema tests which won't benefit from this logic
2. This behavior should ideally be explicit

[2020-06-29 16:17] drewbanin commented on #1755
hey @machupichu - that's right - we haven't yet made a code change that adds support for the `re` module yet.

Check out the discussion here for some background on why solving this problem in the general case is tough: https://github.com/fishtown-analytics/dbt/pull/1997

I'm a-ok with adding specific support for the `re` module if we can make sure that it doesn't leak out attributes that would lea

[2020-06-29 16:21] beckjake commented on #2597
It was just another layer of difficult-to-predict behavior. It had some weird potential special-case behavior where we'd potentially requote things that shouldn't be requoted. I think something like `"{{ a }}" ~ "{{ b }}"` would get requoted if `len(a+b)==19`, but not otherwise (may require some fiddling around with curly braces to reproduce, but you get the idea).

[2020-06-29 16:21] drewbanin commented on #2586
hmmm, I think we may not want to repurpose `tags` as `policyTags`! It's a good and sensible idea, but I think we'll be better off long-term by making them totally separate. `tags` is a dbt-wide config, and I think that our future selves will be grateful if we implement BigQuery policy tags with a BigQuery-specific config. Maybe we can call it something like `policy_tags` instead?

That might be a

[2020-06-29 16:24] drewbanin commented on #2595
@beckjake sure thing, I'm supportive of making a change like this in 0.17.1

[2020-06-29 16:39] azhard commented on #2586
Yeah I think that makes sense actually, don't want to override any dbt specific functionality that leverages the `tags` feature in the future... With the current lack of database-specific `schema.yml` files is this something that will have to be put on hold or is there another way you can think of to implement this (and maybe the database-specific .ymls too)?

[2020-06-29 17:25] alittlesliceoftom commented on #2423
Hi @drewbanin thanks for your solution.

I just tried this solution (previously dbt v0.17) and it does work correctly (after realising I really needed to use venvs and not my default conda env for this).

I have raised an issue on the community plugin for the same.

[2020-06-29 21:05] drewbanin commented on #2586
do we specifically want this config to live in the `schema.yml` file? If we instead allow it to be a model-level config (configured in the `models:` dict in `dbt_project.yml` or in a `{{ config() }}` call), then the path to implementation should be pretty straightforward! The tricky thing is of course that it's a column-level config. I could imagine an API like:

[code]

I totally get that it's no

[2020-06-29 21:21] azhard commented on #2586
Aside from defining the columns twice, my main concern with the first option is that I don't believe that method can be leveraged for `sources`. Can't speak to other orgs but for our case I was hoping to add policy tags to both models and sources (using a method similar to the one described in #2540).

I'm also hesitant on adding this as a core-level config, don't think it makes sense to expose it

[2020-06-30 11:01] bashyroger commented on #2593
While I like what is written in the FR, I even more agree with @brunomurino 's argument: '_If you want to write stuff to the database, why not make it a model?'_

I do get that DBT is stateless now, but IMO this should not apply for tests. After all, you also don't delete the default logging metadata after each DBT run, but simply append to the existing log.

if the hassle of managing a database f

[2020-06-30 13:19] drewbanin opened #2602 "Windows path issues... again"
### Describe the bug
See this stack trace:
[code]

### Steps To Reproduce
Must have something to do with the Windows/python version at play?? TBD, working on getting more info.

### Expected behavior
dbt should log a debug log line for the exception and move on without error

**The output of `dbt --version`:**
[code]

**The operating system you're using:** Windows (version TBD)

**The output of `p

[2020-06-30 13:21] beckjake commented on #2602
😡 :rage1: :rage2: :rage3: :rage4: there are not enough rage emojis for how I feel about this

[2020-06-30 15:20] dmarts commented on #2597
Hi all I had this same problem and used the ```quote``` parameter to get around it.  But couldn't see how to use that with a model-level test e,g,
[code]
The missing piece in the workaround was to add square brackets on the column names like so:
[code]
I guess neither yaml and jinja want to eat the square brackets so they make it all the way to Snowflake 👍

[2020-06-30 15:37] beckjake opened #2604 "fix or remove dbt-utils branch names in tests"
### Describe the feature
The dbt integration tests use a `dbt-utils` branch named `0.13-support` to test a `config-version: 1` dependency, which a maintainer might delete as stale (reasonable!). The test should just use an existing release tag if possible, or a special test tag if an appropriate one doesn't exist.

The test in question already uses [dbt-integration-project](https://github.com/fish

[2020-06-30 16:24] hanachurch opened #2605 "Encountered an error: Unresolvable JSON pointer: “definitions/NoValue”"
### Describe the bug
A clear and concise description of what the bug is. What command did you run? What happened?

Migrated to dbt 0.17. Received the above error message as soon as I ran 'dbt compile' on a project that worked fine with dbt 0.15.1.

[code]
I have another Windows PC on which this error doesn't occur.

### Steps To Reproduce
In as much detail as possible, please provide steps to repr

[2020-06-30 16:59] drewbanin commented on #2605
hey @hanachurch - the information included in this issue template is really important for diagnosing new issues. In particular, the `python --version` output would have been super helpful to see here. My guess is that you're using Python < 3.6.3, which is a new requirement for running dbt v0.17.0. Check out the Python Requirements section in the [upgrading guide](https://docs.getdbt.com/docs/guide

[2020-06-30 16:59] #2605 closed

[2020-06-30 17:40] beckjake commented on #2605
For posterity: This is due to having a downlevel version of `hologram` (in particular, `hologram<0.0.7`), which can happen for various reasons. In this user's case, it was because they were using anaconda and had an old version of `hologram` installed. `pip` doesn't see/maintain anaconda-installed packages, but they do show up when you `import`. So if you get `dbt` + `hologram` installed via `cond

[2020-06-30 20:43] smile-simon opened #2606 "Feature Request: Strictness on arguments passed to config"
### Describe the feature
Have some sort of strictness in place for arguments passed to config. For example:
Currently, if you use `{{ config(materizalied='table') }}`, due to the typo in `materialized`, this model will be materialized as a `view` (default) and not as a `table`. This model will run successfully. No errors or warnings are thrown by DBT for this typo because DBT explicitly allows arb

[2020-06-30 21:44] jtcohen6 commented on #2606
Hey @smile-simon, thanks for the writeup—this is a great idea. dbt does maintain lists of core and adapter-specific node configs. Giving developers a way to more quickly debug small typos feels like an obvious quality-of-life improvement.

One thing I could imagine is extending the functionality of the [`--strict` run mode](https://docs.getdbt.com/docs/running-a-dbt-project/command-line-interface/

[2020-06-30 23:55] drewbanin commented on #2602
closed by https://github.com/fishtown-analytics/dbt/pull/2603

[2020-06-30 23:55] #2602 closed

[2020-07-01 01:16] drewbanin commented on #2598
fixed by https://github.com/fishtown-analytics/dbt/pull/2601

[2020-07-01 01:16] #2598 closed

[2020-07-01 02:23] drewbanin commented on #2597
hey @dmarts - that's not good. I'm not sure what the right way to address this use-case is at present, but it's definitely something that _should_ work in _some_ way in dbt. Going to give this a think and follow back up here

[2020-07-01 02:31] drewbanin commented on #2597
errr..... I might have misunderstood your use case! Are you just trying to supply a list of columns to `combination_of_columns`? In that case, the PR attached above (https://github.com/fishtown-analytics/dbt/pull/2599) should fix this in dbt v0.17.1. This fix will preserve double quotes found inside of a yaml string.

That's a bit of a tricky concept. Let's consider the example:
[code]

In this ex

[2020-07-01 02:31] #2597 closed

[2020-07-01 02:32] drewbanin commented on #2592
Fixed by https://github.com/fishtown-analytics/dbt/pull/2591 but see also https://github.com/fishtown-analytics/dbt/pull/2603

[2020-07-01 02:32] #2592 closed

[2020-07-01 13:37] drewbanin commented on #2586
Ah, ok, thanks for that context @azhard! I gave this some more thought, and I'm increasingly happy with the idea of adding a BQ specific config in the `columns` section of `dbt_project.yml`. The big caveat I will add is that at some point in the future, we might decide we need to change up the interface to support per-adapter configs more generally. I can't say with any certainty what that might l

[2020-07-01 13:45] beckjake commented on #2595
@christippett 0.17.1rc3 (just released) should run as root now. I would love it if you could give it a try sometime and let me know if it works as you expect.

[2020-07-01 16:43] Hayleycsck2 opened #2607 "Snapshot creating duplicates (updated)"
### Describe the bug
Snapshots are not inserting new rows. (This seems to be causing another issue around trying to merge/update multiple rows, however it may be an unrelated issue)

When I run the same SQL that is generated by dbt, this works just fine, so I don't believe it to be the data itself causing the issue.

### Steps To Reproduce

There doesn't seem to be anything odd about the data itse

[2020-07-01 16:51] #2548 closed

[2020-07-01 16:57] dubravcik commented on #2084
I am coming with another idea. I don't know whether it is a problem for others, but for me the problem is that the documentation
- is in another file
- have to create the file and also structure in the file manually (sure, there are some helpers #1082 )
- have to keep it in sync when the model is changed (probably the biggest pain)
- doesn't really document the code itself

The idea is to have the

[2020-07-01 19:03] jtcohen6 commented on #2607
@Hayleycsck2 It's hard to know exactly what's going wrong here. Here's one theory:

You have a `post_hook` configured to delete records from the snapshot after running if it has an old `end_date`. If those underlying records remain in the source table, and they have either
   * (a) a different `order_item_number` from the records in your target table; or
   * (b) the same `order_item_number` as a

[2020-07-01 19:29] jtcohen6 commented on #2607
On second thought: there's a _lot_ going on here, including what sounds to be an adjacent issue:

As excited as I am by my "the post-hook's the thing" theory, I'm going to reopen until I have a chance to hear back and get to the bottom of what's really going on here. In particular, we'll need answers to:

* Do the X records that are being merged and then missing _actually_ have old values of `end_

[2020-07-02 02:43] christippett commented on #2595
Will do. Thanks for being so receptive to my suggestion and turning this around so quick 😊

[2020-07-02 08:54] camfrout opened #2609 "Can't use CTEs in data test with dbt-sqlserver - Database Error"
### Describe the bug
Using CTEs in data tests while using the dbt-sqlserver adapter raises SQL errors. This is due to the fact that data tests are wrapped around a `SELECT COUNT(*)` https://github.com/fishtown-analytics/dbt/blob/3af8a22d1319431115e7394f1235294613d36b35/core/dbt/task/test.py#L35 and SQL Server doesn't allow the CTEs inside other requests (it needs to start with WITH).

I has also b

[2020-07-02 10:11] dmateusp commented on #1172
I went through the process of enabling token caching this week and I would like to add some info (https://github.com/snowflakedb/snowflake-connector-python/issues/140#issuecomment-652915748):

Can someone confirm that with the current version requirements of DBT, token caching is not used?

[2020-07-02 12:44] Hayleycsck2 commented on #2607
Hi @jtcohen6

Thank you for looking into that for me. I have tested out the post hook, and that was the issue with not inserting new data. Our prod & dev environments have different retention variables, and the variables set in prod (about 6 years) allowed for a successful merge, at least locally.

However, this still leaves the question of the MERGE/UPDATE error, as this seems to be the real issu

[2020-07-02 12:54] smile-simon commented on #2606
Hmm, the custom materializations definitely complicates the idea.

My thoughts here are:
If someone makes a custom materialization then it will live in the `macros` folder. For materializations specifically, the macro code is:

[code]

Would it be possible to append the name of these macros (`my_custom_materialization`) to the list of "acceptable values" (along with the dbt list of core adapter-sp

[2020-07-02 13:19] Hayleycsck2 commented on #2607
Found It!

I was right that dbt is creating duplicates at the point of snapshot... and its down to the union statement at the very end ...
![image](https://user-images.githubusercontent.com/48437782/86363122-4c416500-bc6e-11ea-93e9-0c7a64d340a0.png)

If you just do a quick (hack) to select distinct from that union, we get unique keys again
![image](https://user-images.githubusercontent.com/4843778

[2020-07-02 13:32] Hayleycsck2 commented on #2607
@jtcohen6

Update #2

It works! For reference, I did this
![image](https://user-images.githubusercontent.com/48437782/86364931-bce98100-bc70-11ea-92d9-4a3c9ee3c507.png)

Would you be able to make this change to on your side?

[2020-07-02 15:49] PradKumarGC commented on #1637
+1 for including sharding as a dbt feature. To highlight on another use case, when we hit a max. partitioning limit of 4000 in BigQuery (as of today) for large tables an alternative would be to shard them (by year) followed by partitioning on each table on the original intended partition (date) column.

[2020-07-03 15:52] bessey commented on #1172
Hmm, @dmateusp I just excitedly tried this exact setup and no luck, i'm getting multiple popups, seemingly 1 per model when i do `dbt run`. Is there another step necessary that is not mentioned in this comment? I have done the `alter account set allow_id_token = true;` too

requirements.txt for reference
[code]

[2020-07-03 16:33] dmateusp commented on #1172
oh :( any chance you are using Linux ? https://docs.snowflake.com/en/user-guide/odbc-parameters.html#using-browser-based-sso-with-connection-caching-macos-and-windows-only

[2020-07-03 23:19] bessey commented on #1172
Ah you're absolutely right, I didn't realise only Mac / Windows are supported (I wonder why?)

[2020-07-04 21:34] jars opened #2611 "a stateless and fast initializing dbt RPC server"
### Describe the feature

Hey folks!

We're experimenting with dbt RPC on [Cloud Run](https://cloud.google.com/run) (Google's serverless Docker-based container service) at our company.

However the dbt RPC implementation has a couple limitations that prevent it from being deployed there.

1. When turning on the RPC server w/ `dbt rpc`, the server performs an initial compilation step. This process

[2020-07-05 20:21] jars commented on #2611
Btw, I just found `dbt --partial-parse`, which may solve (1) above.

[2020-07-06 08:20] Hayleycsck2 commented on #2607
Hi @jtcohen6 any update on pushing that fix? I would open a PR my side, but I don't have permissions :)

[2020-07-06 09:34] meurant-naude commented on #2595
Hi there @beckjake,
Chris and I worked together so I thought I'd give you an update.
I've upgraded to 0.17.1rc3 and my testing would indicate that the issue has been resolved. @christippett might wanted to do testing on his end too to confirm my findings.
Cheers, Meurant

[2020-07-06 13:33] drewbanin commented on #1172
huh! @bessey or @dmateusp - if either of you feels inclined to update the docs at github.com/fishtown-analytics/docs.getdbt.com, we'd love to see a PR for this!

[2020-07-06 15:57] automagic commented on #2516
@drewbanin  this is my WIP based on the existing table materialization.  Can you comment on it?
[code]

[code]

A major difference is that the creation of the table cannot be done inside a transaction according to the docs.   Not sure about the create / rename strategy either.  This one is just a naive straight create.

[2020-07-06 16:04] jtcohen6 commented on #2611
Thanks for the detail on this issue, @jars, and for continuing to contribute back your experience with dbt RPC.

1. Right on, I'm hopeful that partial parsing speeds up your compilation times significantly. You can specify a [default value in `profiles.yml`](https://docs.getdbt.com/reference/profiles.yml/#partial_parse) and always override with a CLI flag.

2. @beckjake could you weigh in here? I

[2020-07-06 16:38] jtcohen6 commented on #2609
Thanks for raising this issue here, @camfrout!

From some brief searching, it appears that SQLServer doesn't support nested `with` statements, i.e. CTEs within CTEs. (Spark and Presto don't, either.) This would mean that, in addition to data tests that have CTEs, SQLServer isn't happy about ephemeral models that have CTEs—is that right?

In any case, it sounds like we need to enable different impl

[2020-07-06 17:39] jtcohen6 commented on #2377
Closing in favor of #2401

[2020-07-06 17:39] #2377 closed

[2020-07-06 17:47] beckjake commented on #2611
I don't think it would be hard to support a synchronous request (rpc started out as always synchronous), though I think it would be a lot easier to start the RPC server in a "synchronous mode" than to make it a flag.

It does mean there's more stuff to go wrong and a lot more stuff to test (we'd pretty much have to double our request/response tests) so I think we'd want to make sure we see a lot o

[2020-07-06 17:51] drewbanin commented on #2488
hey - just wanted to close the loop on this - we've since added a redirect that you can see here: https://docs.getdbt.com/docs/profile

Thanks for opening this! And in the future, please feel free to open up an issue in the docs repo: https://github.com/fishtown-analytics/docs.getdbt.com

[2020-07-06 17:51] #2488 closed

[2020-07-06 17:54] drewbanin commented on #2499
closed in #2501

[2020-07-06 17:54] #2499 closed

[2020-07-06 18:00] rsenseman commented on #2192
@invinceyble Are you working on this? If not, I can pick this up this week

[2020-07-06 19:03] max-sixty commented on #2488
Thanks a lot as ever @drewbanin !

[2020-07-06 19:11] jars commented on #2611
Thanks for the feedback folks!

In addition, I had more feedback from my own team this morning. An idea came up to put a RESTful (synchronous) shim-layer in-front of dbt RPC ourselves and try serving that on Cloud Run.

We'll try to give that a shot in the next couple days; I can report back our findings.

[2020-07-06 19:24] DVAlexHiggs commented on #2401
Not finding any information about 1.0.0 @jtcohen6 is this the next release and you're skipping 0.18? Very exciting if so!

I'm hoping this feature will be in the next release, since the lack of it will be massively breaking for a lot of people, organisations and packages, [dbtvault](https://dbtvault.readthedocs.io/en/latest/) included.

Is there anything I can do to contribute? If so, where can I

[2020-07-06 20:25] bessey commented on #1172
Yeah no problem, on it now

[2020-07-06 20:57] jtcohen6 commented on #2607
This is weird! If the issue is resolvable by adding `select *` to the bottom of the snapshot staging query, I feel that something must be afoot.

Could you confirm that `order_item_number` is unique in `dim_jobs_order_item`, by running a query like:
[code]

### Rationale

In trying to reproduce this locally with scratch data ([here's a gist](https://gist.github.com/jtcohen6/5b634f192feea6b54208d7b

[2020-07-06 21:18] jtcohen6 commented on #2401
The next minor release (Marian Anderson) will be 0.18.0. It will include several issues currently tagged with [the Marian Anderson milestone](https://github.com/fishtown-analytics/dbt/milestone/58), and we will cut it from the current default branch (`dev/marian-anderson`).

Over the course of the next few minor versions, we're chipping away at a stable 1.0 version of dbt (aspirational target: EOY

[2020-07-06 21:26] invinceyble commented on #2192
Totally slipped off my radar, all yours! :)

[2020-07-07 01:39] drewbanin opened #2612 "0.17.0 regression: Make native env rendering explicit/opt-in"
### Describe the bug
See the discussion in https://github.com/fishtown-analytics/dbt/pull/2608 for more information.

dbt v0.17.0 adds a native env renderer for Jinja. This has the _great_ benefit of coercing stringy values like `"True"` or `"False"` to boolean values like `True` and `False`. It's a subtle distinction, and the benefit is that you can use dbt's jinja context to do really clever thi

[2020-07-07 01:52] drewbanin opened #2613 "Upgrade snowflake-connector-python version to support the token cache"
### Describe the feature
Upgrade snowflake-connector-python to >= v2.2.3 to support the Snowflake OAuth token cache. The only docs we could find on this were from the [odbc connector](https://docs.snowflake.com/en/user-guide/odbc-parameters.html#using-browser-based-sso-with-connection-caching-macos-and-windows-only), but the [snowflake-connector-python](https://github.com/snowflakedb/snowflake-con

[2020-07-07 15:30] chrisluedtke opened #2614 "Database-level or schema-level tests"
### Describe the feature
I'd like to define a test that ensures no instances of a particular data type in a database. In my case, I want to ensure none of our timestamps include a time zone.

### Describe alternatives you've considered
Currently I am applying the below test at the model level for every model. It would be simpler to define it elsewhere at the schema or database level. I considered

[2020-07-07 15:54] #2523 closed

[2020-07-07 15:54] #2524 closed

[2020-07-07 15:55] jtcohen6 opened #2615 "Sprint 50: Core (6/24/2020 - 7/8/2020)"

[2020-07-07 15:57] jtcohen6 opened #2616 "Sprint 51: Core (7/8/2020 - 7/22/2020)"

[2020-07-07 19:44] VigneshwaranSundaresan opened #2617 "Writing Logs to Separate File in Logs Directory"
### Describe the feature
DBT does not have the feature to update log messages to different log files in Logs directory or custom directory specified in dbt_project.yml file.

For example:

source-paths: ["models"]
analysis-paths: ["analysis"]
test-paths: ["tests"]
data-paths: ["data"]
macro-paths: ["macros"]
snapshot-paths: ["snapshots"]
log-path: dbt_logs

Instead of writing the dbt.log in log fo

[2020-07-07 20:26] jtcohen6 commented on #2617
@VigneshwaranSundaresan Thanks for following up by opening an issue! I want to clarify a few points:

In particular, it sounds like you're interested in dbt writing to a different log file _for each model_ in a run, rather than just _for each invocation_. Is that right?

The [dbt Cloud Develop interface](https://docs.getdbt.com/docs/dbt-cloud/the-dbt-ide) does something similar today.

If my under

[2020-07-07 20:33] jtcohen6 commented on #2531
Closing in favor of #2612

[2020-07-07 20:33] #2531 closed

[2020-07-07 21:20] sgoley opened #2619 "Support for custom types in PostgreSQL"
### Describe the feature
Support for object types in Postgresql

Example:
`create type prod.log_level as enum ('error', 'warn', 'debug', 'info');`

### Describe alternatives you've considered

Currently the only way to work this is with a cast to text type column

### Additional context

Postgresqlspecific feature:
https://www.postgresql.org/docs/12/sql-createtype.html

### Who will this benefit?

[2020-07-07 22:31] jtcohen6 commented on #2619
@sgoley Interesting idea! I think this is totally possible with existing dbt functionality.

If I understand correctly, you could code up a macro to template out the `create type` DDL, and call it in a [hook or operation](https://docs.getdbt.com/docs/building-a-dbt-project/hooks-operations/).

I'm going to close this issue, but feel free to re-open if you have a specific dbt code change in mind.

[2020-07-07 22:31] #2619 closed

[2020-07-08 02:17] sgoley commented on #2619
@jtcohen6 What would be the appropriate way to contribute this if I was able to successfully develop it?

I was thinking this was something that should be contributed to this document:
https://github.com/fishtown-analytics/dbt/blob/dev/marian-anderson/plugins/postgres/dbt/include/postgres/macros/adapters.sql ?

Thanks.

[2020-07-08 08:50] Hayleycsck2 commented on #2607
Regarding the first question, this `dim_jobs_order_item` table is the table we are snapshotting into. Because of this, will have duplicates for the order_item_number - with different `dbt_valid_to` values.

However, I accounted for this and ran the following query ...
![image](https://user-images.githubusercontent.com/48437782/86898090-2994cd80-c100-11ea-9960-9ce57d5aa019.png)

[2020-07-08 13:02] dmateusp commented on #1269
Hi there, just wanted to continue that discussion

I'm a beginner on DBT, so I would just like to give my opinion from a "beginner" point of view.

## Seeds

First I would like to point out that this would be useful for Seeds as well, consider the following simple use-case:

2 pipelines are being worked on, they target 2 different databases, `A` and `B`, this is the folder structure

[code]

The 2

[2020-07-08 13:41] jtcohen6 commented on #2607
Good call, thanks for adjusting and running the query. It looks like there are no _historical_ duplicates in `dim_jobs_order_item`, which is good, and seems to be a point against my hypothesis.

Could you run another query or two, to disprove it for good and send us back to the drawing board?

Let's see if there are any _current_ duplicate values of `order_item_number`:
[code]

Then, assuming ther

[2020-07-08 14:27] jtcohen6 commented on #2619
Got it. The functions in that file are:
1. Building blocks that dbt needs to execute its standard behavior (creating schemas, tables, views, etc).
2. Postgres-specific implementations of those core building blocks (hence the `postgres__` prefix), with the expectation that [other](https://github.com/fishtown-analytics/dbt/blob/dev/marian-anderson/plugins/redshift/dbt/include/redshift/macros/adapter

[2020-07-08 14:28] bashyroger commented on #1612
Hi @drewbanin / @nickymikail :  I think the use case I have aqnd just discussed with dylan baker is similar in nature
What I am looking for is the following:

**Initial state:**
- I have 2 years of snowplow event data
- On top of that I have an **incremental model in prod**, aggregating it to the **pageview** level.

**Change:**
- Now I want to start create a new model OR change an existing one **

[2020-07-08 17:04] jtcohen6 commented on #2612
Resolved by #2618!

[2020-07-08 17:04] #2612 closed

[2020-07-08 17:59] sgoley commented on #2619
Thanks Jeremy - Going to give it my best shot!
https://github.com/sgoley/dbt-postgres-utils

[2020-07-08 19:30] #2615 closed

[2020-07-09 14:38] a-menon commented on #1843
Hey @drewbanin just wanted to check if this something that will be supported sometime soon? Would be a super useful config variable to have available.

[2020-07-09 15:34] jtcohen6 commented on #1843
Agree that this would be a great first issue for an external contributor!

One small thing to note about tables that require partition filters, very much outside the scope of the actual code change required here:

Built-in schema tests will _not_ work on these models. You'll need to instead use tests like [`unique_where`](https://github.com/fishtown-analytics/dbt-utils#unique_where-source), [`not_

[2020-07-09 16:37] jtcohen6 commented on #1612
@bashyroger You've outlined a really compelling use case. We've come a long way on our thinking here over the past several months.

If you're on Snowflake, zero-copy cloning is a massive help because there's almost no added cost for cloning more than you need to. You can paint with the broadest possible brush. GitLab uses cloning as part of their CI process today; check out @emilieschario's [recen

[2020-07-09 17:26] jtcohen6 commented on #2527
I'm leaving some thoughts below on the discussion questions from above. Let me know if this makes sense @drewbanin @beckjake, and where you disagree.

### If it needs to be enabled explicitly, is this a model config, a run flag, or something else?

I think this is a top-level flag for the run:
[code]
I'm not hard-set on the syntax here. Whatever we decide on should cohere with plans for #2465. To

[2020-07-09 21:31] tmastny opened #2620 "dbt clean regression"
### Describe the bug
In dbt 0.16.1 `dbt clean` fails without a profile:

[code]

In dbt 0.15.1, `dbt clean` works.

[code]

### Steps To Reproduce
Delete any profile found in `~/.dbt/profile.yml`.

Install 0.16.1:
[code]
Navigate to dbt project:
[code]

Repeat for 0.15.1 to confirm regression.

### Expected behavior
I expected `dbt clean` to work without a profile. This broke some of our automated

[2020-07-09 21:34] jtcohen6 commented on #2620
Thanks for pointing this out, @tmastny. You're right that it's a regression.

We removed the profile requirement for `dbt deps` in 0.16.1 (https://github.com/fishtown-analytics/dbt/issues/2231), but it seems like we didn't fix it for `dbt clean`.

[2020-07-09 21:40] jtcohen6 opened #2621 "RPC methods should exclude Jinja comments from compiled SQL"
### Describe the bug

The `compile_sql` and `run_sql` methods of `dbt rpc` currently include Jinja comments `{# #}` in their compiled SQL.

### Steps To Reproduce

1. Run an RPC server per [docs](https://docs.getdbt.com/reference/commands/rpc/)

2. Send a request (method `compile_sql` or `run_sql`) where the SQL contains a Jinja comment
[code]

3. Poll for result
[code]

### Expected behavior
[cod

[2020-07-10 18:21] sarinb commented on #1177
@ryantuck - Thanks a bunch! I was stuck on a similar issue for hours and your comment solved it!

[2020-07-13 08:31] Hayleycsck2 commented on #2607
Sorry for the delay. No current duplicates, I'm going to see if I can drill into this problem on my side...

![image](https://user-images.githubusercontent.com/48437782/87281740-6f300c80-c4eb-11ea-95c8-b29ca1729fd1.png)

[2020-07-13 09:56] bashyroger commented on #2527
@drewbanin / @jtcohen6; This comment is related to issue [#1612](https://github.com/fishtown-analytics/dbt/issues/1612)
This is how I think the use case of #1612 could be incorporated in #2527:

**Instead of this:**
`dbt run --exclude +my_massive_model --defer-to prod-target/`

Covering the #1612 concern would require a command like this:
`dbt run +my_other_model_based_on_massive_model --defer-to

[2020-07-13 15:21] ucg8j commented on #2172
This could also improve the data lineage usability in dbt docs.

I don't think this is covered above. When working with massive DAGs I don't want all children/parents recursively. But want to traverse the tree a level at a time or specify the depth I want to traverse.

Much like the [nix command `tree`](https://linux.die.net/man/1/tree) takes an argument to list X many levels deep OR recursive. Th

[2020-07-13 15:36] Raalsky commented on #2172
@ucg8j Check direct child model selector syntax added here: https://github.com/fishtown-analytics/dbt/pull/2485 . It should be released in next feature release (maybe 0.18.0 or something)

[2020-07-13 17:31] swanderz commented on #2548
@mikaelene looks like the bugfix is slated for `0.18.0` https://github.com/fishtown-analytics/dbt/pull/2590
Perhaps I'll pull dbt's `dev/master` and see if things are working properly?

[2020-07-13 20:37] beckjake commented on #2493
I updated and added some examples for a proposed spec. One thing we should keep in mind (and which we should maybe just fix/change permanently?) is that currently "docs generate" and "source freshness" treat their output artifacts as if they were run results internally. I'm not sure that's the best path going forward, they're really different things.

[2020-07-15 08:23] bashyroger commented on #2593
Hi @jtcohen6, I can see from the status of this ticket I see that implementing this is not planned yet. Can you give me any indication if / when this might happen?

[2020-07-15 11:45] ee07dazn commented on #1862
@drewbanin : sorry, missed this comment. I will open a PR soon for this and tag you on it.

[2020-07-15 19:13] jtcohen6 opened #2625 "Handling same-named columns in dbt server"
### Describe the bug

`run_sql` for queries that include two columns of the same name has surprising results.

### Steps To Reproduce

Query: `select 'one' as column_a, 'two' as column_a`

#### dbt Cloud IDE

<img width="1155" alt="Screen Shot 2020-07-15 at 2 33 58 PM" src="https://user-images.githubusercontent.com/13897643/87585960-cd0c5200-c6ad-11ea-8657-ba1a07aefaa5.png">

#### dbt rpc
[code]
[

[2020-07-15 20:54] norton120 opened #2626 "Regression in accepted_values quote behavior on Postgres & Snowflake"
### Describe the bug
as recent as v0.16.1  `quote:` property in accepted_values schema tests would determine the _outermost_ quote for a given value. So:

[code]
would compile to

[code]
With 0.17.0 the same schema.yml compiles to:

[code]

### Steps To Reproduce
With dbt 0.17.0 use nested quotes and set `quote: true` for an accepted_values test. The result in Snowflake and Postgres will only resp

[2020-07-15 21:06] jtcohen6 commented on #2626
Thanks for the writeup @norton120. You're right that this is a regression in v0.17.0.

I'm hopeful that this will be resolved by the rollback of by-default native env rendering in 0.17.1 ([related discourse](https://discourse.getdbt.com/t/coming-soon-v0-17-1/1406)). Would you be able to try running with the release candidate `v0.17.1-rc4`?

[2020-07-15 21:17] kning commented on #2569
just an fyi, im working on this now

[2020-07-15 22:17] norton120 commented on #2626
Can do, I'll try pinning it up tomorrow and report back

[2020-07-16 01:45] nikomataaa opened #2630 "Issue with numeric schema name when adding to sources.yml"
### Describe the bug
I found yesterday that DBT couldn't accept the number type of schema name when I added to `sources.yml`, since it wanted to have it as String instead. I found similar issue was already resolved on this PR already : https://github.com/fishtown-analytics/dbt/pull/2208

### Steps To Reproduce
So for example I have to add this to `sources.yml` :
[code]
Since the schema name is `19

[2020-07-16 09:12] bashyroger commented on #2593
@joshtemple , you also might want to contribute to this FR as it greatly overlaps with https://github.com/fishtown-analytics/dbt/issues/517

[2020-07-16 13:01] jtcohen6 commented on #2630
Hey @nikomataaa, I believe this will be resolved by a change we're making in v0.17.1 to roll back native-env rendering by default ([discourse](https://discourse.getdbt.com/t/coming-soon-v0-17-1/1406)).

Your code above worked locally for me by:
* Wrapping the numeric value in single quotes, i.e. `schema: '196936242'`
* Running with the release candidate `v0.17.1-rc4`

Could you give that a go, and

[2020-07-16 16:39] norton120 commented on #2626
Looks like `v0.17.1-rc4` solves the problem in PG, Snowflake, and BigQuery! happily closing dis.

[2020-07-16 16:39] #2626 closed

[2020-07-16 23:24] ciejer opened #2631 "builtins.ref.database returning full statement code for CTE's"
### Describe the bug
The statement `{{- builtins.ref('dbt_run_results_stage').database -}}` returns the CTE SQL `with __DBT__CTE__... as (...` statement before returning 'None' database, when queried for ephemeral objects.

### Steps To Reproduce

1. Create an ephemeral model in DBT
2. Reference this model with a `{{- builtins.ref('<ephemeral model name>').database -}}` statement

### Expected beh

[2020-07-17 04:37] meurant-naude opened #2632 "Make require_partition_filter a config option for BQ models"
### Describe the feature
It would be good if the require_partition_filter option is available for BigQuery models. The require_partition_filter option fits with the existing partitioning option.

Our query costs are billed to the user and to prevent costly queries we have the require_partition_filter option set on our larger tables. Would be good if we can do the same with dbt generated tables.

#

[2020-07-17 04:51] nikomataaa commented on #2630
@jtcohen6 aah I see, I'll try it with my team and let you know afterwards !

[2020-07-17 14:09] jtcohen6 commented on #2632
Hey @meurant-naude, this is a great idea! I'm going to close it only because it's a duplicate of #1843. We've tagged that one a "good first issue," meaning that we'd welcome a PR from a community member who wants dbt to support `require_partition_filter` as a native model config on BigQuery.

[2020-07-17 14:09] #2632 closed

[2020-07-17 14:46] jtcohen6 commented on #2631
Hey @ciejer, thanks for the writeup. This isn't a bug per se; it's actually the intended behavior. Here's the idea:

* Any time you `ref()` an ephemeral model, dbt will interpolate its compiled model SQL as a CTE at the top of the file. For instance, if you put `-- depends on: {{ ref('my_ephemeral_model') }}` in your model file, dbt will include its compiled SQL in a CTE at the top of the file, ev

[2020-07-17 14:46] #2631 closed

[2020-07-17 17:48] #2569 closed

[2020-07-17 17:59] ciejer commented on #2631
Thanks @jtcohen6 .
We still have a broken use case, as our intended use was replacing ref with a relative ref (without DB) as described in the docs; ensuring snowflakes db clone keeps views intact.
The if statement below pastes the full code of the cte into the compile output during the comparison operation.

[code]

The above outputs the full CTE script, 'True', and the full CTE script again. Rea

[2020-07-17 22:27] drewbanin opened #2633 "Enable snowflake-connector-python debug logging with environment variables"
### Describe the feature
dbt should support an environment variable to enable debug logging for the `snowflake-connector-python` library. This will help dbt users track down issues that arise like:
[code]

Snowflake support requires these logs to diagnose and resolve issues that occur using their platform.

### Describe alternatives you've considered
We could enable these logs by default. `snowfla

[2020-07-18 12:15] stewartbryson commented on #2365
@drewbanin Are you saying this request is a dupe of #2276 ? I don’t understand the relationship. Asking for newline-delimited JSON as a seed format doesn’t seem related to Jinga blocks at all.

[2020-07-19 05:25] meurant-naude commented on #2632
Hi there @jtcohen6,
Thanks for letting me know. I'll keep an eye on the other one.
I'd love to help make the change but my python skills are still not quite there yet.
Cheers, M

[2020-07-19 17:12] jtcohen6 commented on #2631
That code seems like it works to me. Referenced ephemeral models should only interpolate their compiled SQL as a CTE once, even if they are `ref`fed several times. I added your macro to a local project and confirmed.

I may not understand your full use case. You mention a "comparison operation," could you say more about that?

As long as what you're doing is selecting from models, this seems like

[2020-07-20 12:44] drewbanin commented on #2365
Hey @stewartbryson - the issue I linked to includes an example of a newline-delimited json seed file. The included example looks like:
[code]

I do think there's an opportunity to support newline-delimited json seed files without building jinja seed blocks, but it's probably not a change we're going to prioritize in isolation. Can you tell me more about what you're looking to use newline-delimited

[2020-07-20 15:34] beckjake opened #2634 "catch snowflake 390114 error and re-open the connection"
### Describe the feature
In a snowflake connection, there are two tokens: master and session. The master token expires in 4 hours unless a session token query updates it. dbt does its own connection management, and sometimes it tries to use an expired master token. When that happens, dbt fails.

Instead, dbt should re-open the connection. The snowflake driver itself doesn't do this because they've

[2020-07-20 19:48] #2328 closed

[2020-07-20 19:48] TjrGithub opened #2636 "Option to move the written files (target/*, logs/*, dbt_modules/*) out of the source tree"
### Describe the feature
I would love to have an option to move all the files DBT write to, out of the project's source tree.

### Describe alternatives you've considered
I'm working inside Docker, with the source directory shared between host (for easy dev access) and container (for testing).
I've tried mounting a separate docker volume onto the dbt/target directory, but docker-compose does not s

[2020-07-20 20:41] TjrGithub commented on #2636
Also, I'd like an idiomatic way to install DBT and its modules in the Dockerfile, without rebuilding everything if the rest of the code tree changes. That means both packages.yml and profiles.yml should live in a separate subdirectory, and still work if the rest of the source tree does not get copied into the Dockerfile before running dbt deps.

[2020-07-21 09:20] Limess opened #2637 "Column documentation fails with particular string"
### Describe the bug
A clear and concise description of what the bug is. What command did you run? What happened?
DBT fails to add a comment to the following column:

`comment on column "analytics"."analyst_charlie_briggs_scratch"."dim_reports".schedule_frequency, is $dbt_comment_literal_block$The frequency type of the schedule, e.g. 'daily' Some adapted legacy alerts did not have a schedule in wh

[2020-07-21 09:22] Limess commented on #2637
Aha! This is entirely me missing the blindingly obvious column name being `schedule_frequency,` in the schema file. I'm closing this as it's a user error.

[2020-07-21 09:22] #2637 closed

[2020-07-21 14:17] clrcrl opened #2638 "Validate `require-dbt-version` before validating dbt_project.yml schema"
### Describe the feature
In the rare occasion that we change the spec of `dbt_project.yml`, the errors around this can be pretty confusing. We should consider changing the order of validation to make this nicer.

### Example

At the moment if you have:
[code]
And your run this with 0.16.1, you get back:
[code]

I think it would  be a very small, but nice touch, if instead we checked the `require-d

[2020-07-21 14:51] jtcohen6 commented on #2633
Closed by #2635

[2020-07-21 14:51] #2633 closed

[2020-07-21 15:05] beckjake commented on #2638
This is a great idea, I've marked this as a "good first issue", but that doesn't mean "easy"! It's mostly a matter of pulling the various pieces together and should be pretty easy to test - it's going to work or it won't! I'm happy to help out with this if anyone wants to take it, or I will just do it whenever it's prioritized.

Here's my initial thoughts on how to solve it:

Currently, the proces

[2020-07-21 19:14] jtcohen6 commented on #2636
@TjrGithub Thanks for the writeup. I want to clarify what you're after, because I think some of it is possible in dbt today.

All three of [`target-path`](https://docs.getdbt.com/reference/project-configs/target-path/), [`modules-path`](https://docs.getdbt.com/reference/project-configs/modules-path/), and [`log-path`](https://docs.getdbt.com/reference/project-configs/log-path/) will accept any rel

[2020-07-21 20:00] max-sixty commented on #2424
This is available: https://github.com/techindicium/dbt-oracle

[2020-07-21 20:10] jtcohen6 commented on #2424
Great point @max-sixty. I'm going to close this issue because it's out of scope for this repository (dbt core), and because members of the community stepped in & stepped up.

There's an open PR (https://github.com/fishtown-analytics/docs.getdbt.com/pull/187) to add Oracle to the list of supported databases, I just assigned myself for review.

[2020-07-21 20:10] #2424 closed

[2020-07-21 21:57] cmcarthur commented on #2493
@beckjake these look totally reasonable to me.

the exception is: why do we need two different versions of source freshness results?

"a single entry in "results" for a snapshot-freshness that resulted in a warning (API)"
looks dramatically different than the contents of a single source in the sources.json

wherever possible I'd push to unify these specs. I know there's a practical reason for the

[2020-07-22 02:33] #2425 closed

[2020-07-22 02:55] beckjake commented on #2493
@cmcarthur I think that's fair. I would like to avoid writing node information to freshness results, would it be reasonable for the RPC server to basically return the `sources.json`-style output, but as a list instead of a dict? I guess we could also make `sources.json` a list so it's more like the API result.

[2020-07-22 12:34] cmcarthur commented on #2493
@beckjake like this?

[code]

that sounds perfect. it does make me wonder how we'll map this back to nodes though...

[2020-07-22 13:56] beckjake commented on #2493
I think we can just add a `unique_id` field to the result, so:
[code]

[2020-07-22 15:48] jtcohen6 commented on #2593
@brunomurino @bashyroger Thank you both for sharing your thoughts, and for engaging seriously with this proposal!

This feature is not currently prioritized, insofar as it depends on—and is meant to inform—work we want to do around v2 test nodes (#1173, #2274) for `v1.0.0`. My goal in this issue is to shape the feature we want to eventually support, so that we can scope out the required changes to

[2020-07-22 17:44] jtcohen6 commented on #2197
Add a runtime error to `create table as` that checks for relation identifier length

[2020-07-22 20:11] jtcohen6 opened #2641 "Slim CI runs, via state comparison and deferred refs"
## Slim CI: MVP

For 0.18.0, we want to prioritize making the following use case possible:
[code]

What does this do?
1. `--state prod-target/`: Compare the current project against the manifest specified in the `--state` arg (#2465)
2. `state:modified+`: Select the set of model nodes that are not present in the state manifest, or differ from the same-named model nodes in state manifest, and their

[2020-07-22 20:32] beckjake commented on #2641
For `--defer` and `--state`, does `defer` require `state`? Does `--state` just default to target/manifest.json if you provide a `--defer`?

If we don't mind destructive updates:
We can add a `deferred` flag to all nodes that defaults to `False`. The deferral managing code can update the manifest to clobber all the old nodes with the deferred ones, and flip the flag in the process.

I think full-re

[2020-07-22 20:56] jtcohen6 commented on #2641
Thanks for taking a look so quickly @beckjake!

In the first version, let's require that `--state` have an explicit argument for any uses of the `--defer` flag or `state:` selectors. I'm _mostly_ sure that it's desirable behavior for `--state` to point to `target/` by default, but @drewbanin and I went in some mental circles trying to think through this.

Flipping a `deferred` flag is what I had i

[2020-07-23 19:37] TjrGithub commented on #2636
There are no log-path nor modules-path in the example dbt_project.yml generated by "dbt init", so I assumed it wasn't possible.

Now I have a Rube Goldberg system of symlinks.

[2020-07-23 19:39] dave-connors3 opened #2642 "Duplicate Rows detected during snapshot"
We have been battling a dbt bug for several months now that we were hopeful was solved in the release of 0.17.0.

Consistently, the snapshot of a table we have breaks due to the following error:

` Database Error in snapshot user_campaign_audit (snapshots/user_campaign_audit.sql)
   100090 (42P18): Duplicate row detected during DML action`

Checking our snapshot table, there are indeed multiple ro

[2020-07-23 20:56] clrcrl opened #2643 "The json output for `ls` should include the database representation"
### Steps to reproduce
[code]

### Expected behavior
I expected there to be a key like `database_representation`

### Actual behavior
The closest we currently get is `alias`, and some `config` detail

[code]

**The output of `dbt --version`:**
[code]

### Additional context
Use case from Slack: listing the database objects that will be affected by a `dbt run`

Note that the node returned [here](ht

[2020-07-23 21:27] beckjake commented on #2641
Here's a neat wrinkle that will require a manifest change!

Currently, dbt doesn't store what the database form of a node should look like as a string when it runs. That means that given an existing manifest, the best we can do with the existing manifest is to tell you what the stored node would have been, if you loaded it with the current project's config - in particular, quoting.

That's probabl

[2020-07-23 21:28] beckjake commented on #2643
This is interesting, I am having a very similar issue working on #2641 - we probably be able to mark this as a "good first issue" once that's done. As dbt is today, this will be kind of annoying to fix.

[2020-07-23 23:42] joshpeng-quibi opened #2644 "--fail-fast with BigQuery does not show original error message"
### Describe the bug
When using `dbt run --fail-fast` on BQ, the original passthrough error message is not present in the output logs.

[code]

### Steps To Reproduce
1. Setup a broken model in dbt against a BigQuery connection
2. Run with `dbt run --fail-fast`
3. Look at output log

### Expected behavior
We should still see the original passthrough error message prior to the `FailFast Error in...

[2020-07-24 00:26] clausherther commented on #2644
👍
Would be really great to be able to use `--fail-fast` in production to cut down on BQ cost, while still getting full error messages to route to the right person.

[2020-07-24 14:27] jtcohen6 commented on #2644
Thanks for opening this, @joshpeng-quibi!

The operative lines are here: https://github.com/fishtown-analytics/dbt/blob/88e26da026eddd0c94b2bf591cf2194995c157f7/core/dbt/task/runnable.py#L181-L188

I stepped through this locally and confirmed that `result.error` does contain the appropriate database error. It just fails to eventually print out. I wonder if this is due to an odd logging interaction

[2020-07-24 14:37] jtcohen6 commented on #2642
This issue sounds like the crux of the matter:

Which snapshot strategy are you using? If it's the `timestamp` strategy, dbt creates a hash of the configured `unique_key` and `updated_at`. If it's the `check` strategy, dbt creates a hash of the configured `unique_key` and the current timestamp.

Therefore, the way to end up with duplicate `dbt_scd_id` is:
* `timestamp` strategy: there exist multip

[2020-07-24 19:25] beckjake opened #2645 "dbt rpc's "run_sql" method can hang forever"
### Describe the bug
Given a snowflake environment with `client_session_keepalive` set to True, the `run_sql` RPC call will successfully run and then never finish. This manifests as the rpc `poll` call showing the task as still running, forever.

The process will show up in the process table and the RPC server's `ps` output as being active on the OS level, but it won't be actually doing anything.

[2020-07-24 19:51] jtcohen6 commented on #2636
Got it—best to always check docs.getdbt.com! We don't want to overwhelm people with more case-specific configurations in the starter project.

I'm going to close this issue, but feel free to re-open if there's a specific change to existing functionality that you need to get this working.

[2020-07-24 19:51] #2636 closed

[2020-07-24 19:53] jtcohen6 commented on #2641
Let's open a new issue! It sounds like that change could be quite self-contained, and that it would simplify #2643 significantly.

[2020-07-24 20:30] #2172 closed

[2020-07-24 20:45] jtcohen6 opened #2647 "Store resolved node names in manifest"
### Description

A [neat wrinkle](https://github.com/fishtown-analytics/dbt/issues/2641#issuecomment-663241006):

### What does this get us?

* Better for deferral (https://github.com/fishtown-analytics/dbt/issues/2527, https://github.com/fishtown-analytics/dbt/issues/2641)
* Better `dbt ls` output (https://github.com/fishtown-analytics/dbt/issues/2643)
* dbt-docs display of relation name (we curr

[2020-07-25 21:54] DVAlexHiggs opened #2648 "Code block background not being rendered in markdown"
### Describe the bug
When serving and viewing dbt docs, code blocks in markdown appear invisible. Upon highlighting them, the text is shown.

I believe this is due to the fact that there is white text on a white background, whereas it's usually white text on a blue background. This implies the background is missing and the style is not being applied somehow.

### Steps To Reproduce

- Provide a co

[2020-07-27 15:46] ryano144 commented on #2613
I was getting sufficiently annoyed by the multiple popups and was able to test this out recently.  Here are the steps I took:

1. Updated the `allow_id_token` parameter on our Snowflake account to `true`
1. Installed the [keyring dependency](https://github.com/snowflakedb/snowflake-connector-python/blob/c156e628fbfb5eaa792e8882bf175be7b1055689/auth.py#L402) that the Snowflake Python Connector uses

[2020-07-27 16:55] jtcohen6 commented on #2648
Nice catch, @DVAlexHiggs, and thanks for opening this issue.

I was able to confirm that:
* This isn't an issue with `inline code`, only
[code]
* It's an issue for code blocks whether defined in a docs bloc or inline in the `.yml` file
* In 0.16.1, code blocks are white text on a blue background. In 0.17.1, they are white text on a white background

I'm going to transfer this issue to the dbt-docs

[2020-07-27 17:40] dmateusp commented on #2595
I just tested 0.17.1 and I was able to remove some work-arounds I had for permissions thank to the usage of `root`.

However, I'm seeing that `fishtownanalytics/dbt:0.18.0b1` is using dbt_user again, any reason for it?

[2020-07-27 17:45] beckjake commented on #2595
0.18.0b1 was released on June 8th, 0.17.1 was released on July 20. The next 0.18.0 prerelease will use `root`.

[2020-07-27 19:05] #2616 closed

[2020-07-27 19:07] jtcohen6 opened #2651 "Sprint 52: Core (7/22/2020 - 8/12/2020)"

[2020-07-27 19:15] jtcohen6 commented on #2644
Resolved by #2646

[2020-07-27 19:15] #2644 closed

[2020-07-27 19:59] drumcircle commented on #1468
My friends are raving about DBT.  I'm willing to take on writing the adapter, lmk if this is still green field.

[2020-07-27 20:20] jtcohen6 commented on #1468
I believe @tglunde has written one: https://github.com/tglunde/dbt-exasol

There's an open PR to add docs for it: https://github.com/fishtown-analytics/docs.getdbt.com/pull/291

[2020-07-28 11:12] LePeti opened #2652 "More informative error message when a package is not compatible with dbt's version"
### Describe the feature

I'm using dbt v0.16.0 and when I've added dbt_utils v0.5.0 and ran `dbt deps` I received the following error message:

[code]
The error occurred because dbt_utils' `dbt_project.yml` uses `config-version: 2` which isn't compatible with dbt v0.16.0.

I think an error message that clearly states that there is a version discrepancy would be helpful. Showing the version depend

[2020-07-28 13:29] tglunde commented on #1468
Indeed. We just have open issues with keywords (final keyword in dbt-utils,
ephemeral CTE names start with "__") that are illegal in exasol. For the
latter we are trying to get a patch ready for dbt - if needed we can
provide patch files for needed versions of dbt.

Regards, Torsten

On Mon, Jul 27, 2020 at 10:21 PM Jeremy Cohen <notifications@github.com>
wrote:

--
Torsten Glunde
Chief Executive

[2020-07-28 14:30] jtcohen6 commented on #2652
@LePeti This is a great suggestion! I'm going to close the issue only because it's a duplicate of #2638. I'd encourage you to comment there if you have any additional thoughts, or if this is a change you're interested inn contributing.

[2020-07-28 14:30] #2652 closed

[2020-07-28 14:56] jtcohen6 commented on #2620
Resolved by #2649

[2020-07-28 14:56] #2620 closed

[2020-07-28 15:23] Plamen8780 opened #2653 "catalog.json file empty when custom schema names used"
https://github.com/fishtown-analytics/dbt/blob/3ec911b62c736e7b5ae26e624b9a981dc3fb177f/plugins/redshift/dbt/include/redshift/macros/catalog.sql#L46
The line above does not take into account custom schema names and it always refers to the default schema name.
This results in an empty catalog.json file whenever the target uses custom schema names.
This issue appeared first appeared in v.0.17.0

[2020-07-28 15:44] jtcohen6 commented on #2653
Thanks for raising this! The straightforward solution here should be to include all `schemas` in the filter, along the lines of the approach we take in postgres:
https://github.com/fishtown-analytics/dbt/blob/5b40cc4a01d1ce3ef06e60d70bc7d293cd193855/plugins/postgres/dbt/include/postgres/macros/catalog.sql#L33-L37

We'll try to get this in for 0.17.2.

[2020-07-28 18:59] christippett commented on #2595
@beckjake apologies for taking so long to get back to you. I can confirm I'm currently using the the dbt Docker image (tag `0.17.1rc4`) in Cloud Build with no issues.

[2020-07-28 19:49] sgoley opened #2655 "Is the "sources" key still supported in the dbt_project.yml?"
## System info:
Platform: Windows 10.0.18363, Build 18363
dbt: 017.1

## Description:
Running `dbt compile` when `dbt_project.yml` includes a `sources:` key in same style as the documentation page:
https://docs.getdbt.com/reference/source-configs#examples

Resulting error:
[code]

## Expected Result:

Having the following within the project should disable the usage of the source, not throw an erro

[2020-07-28 21:15] #2072 closed

[2020-07-28 21:56] jtcohen6 commented on #2655
I was able to reproduce this error locally by running a project with:
* dbt v0.17.1
* `dbt_project.yml` config-version 1 syntax

Having `sources` defined as a top-level key in `dbt_project.yml` works with either:
* dbt<=0.16.1 + config-version 1
* dbt>=0.17.0 + config-version 2

That is to say, the bug here is around our attempt to offer a smooth path for users who want to upgrade to v0.17 without

[2020-07-28 22:30] jtcohen6 opened #2657 "Docs changes for 0.17.2"
For inclusion in final release:
* https://github.com/fishtown-analytics/dbt-docs/pull/115

[2020-07-28 22:46] jtcohen6 commented on #2645
Resolved by #2650

[2020-07-28 22:46] #2645 closed

[2020-07-29 13:18] clrcrl opened #2659 "Make default test-paths and analysis-paths configs consistent"
### Describe the bug
Currently, the default values for various `<resource>-paths` are:
[code]
([source](https://github.com/fishtown-analytics/dbt/blob/dev/marian-anderson/core/dbt/config/project.py#L406-L407))

The defaults for `test-paths` and `analysis-paths`:
- Are not consistent with the other defaults (i.e. `['test']` instead of `['tests']`, and `[]` instead of `['analyses']`)
- Differ from t

[2020-07-29 14:26] sgoley commented on #2655
Thanks @jtcohen6! The `config-version: 2` resolves the error.

As a note, a lot of the current packages (e.g. `dbt-utils`) are all built under `config-version: 1`. Will dropping support for that config version break those package imports / usage?

![image](https://user-images.githubusercontent.com/10283176/88812579-e28d7b80-d185-11ea-9f61-46e7ef9e4922.png)

[2020-07-29 14:47] jtcohen6 commented on #2655
Yes, the dbt version that officially drops support for version-1 project configs will be incompatible with older package versions.

We've released new versions of all Fishtown-maintained packages to use `config-version: 2`. For instance, you should be able to upgrade `dbt_utils` to any version [>=0.4.0](https://github.com/fishtown-analytics/dbt-utils/releases/tag/0.4.0). As far as community-suppor

[2020-07-29 15:55] sgoley commented on #2655
Ty for the suggestion.

Updated in package and re-released:
https://github.com/sgoley/dbt-postgres-utils/releases/tag/0.0.2

I'm happy to close this as "wontfix" but is it your convention to leave open since the bug wasn't resolved?

[2020-07-29 16:02] jtcohen6 commented on #2655
Oh sorry! I had completely forgotten that you're the maintainer, and didn't mean to come off as strongly hinting above. I just checked hubcap and indeed now see you there: https://github.com/fishtown-analytics/hubcap/pull/4

In any case, thanks for releasing a new version :)

I'll leave the issue open for a bit, in case it strikes the fancy of a community contributor, since I don't imagine the cha

[2020-07-29 16:25] jtcohen6 commented on #2657
Closed by #2658

[2020-07-29 16:25] #2657 closed

[2020-07-29 16:25] jtcohen6 commented on #2653
Closed by #2654

[2020-07-29 16:25] #2653 closed

[2020-07-29 17:20] tglunde opened #2660 "Remove double underscore in epheremal model generated CTE (__dbt__CTE__...)"
### Describe the bug
In Exasol identifiers starting with double underscore are illegal - hence emepheral models fail when using dbt-exasol adapter.

### Steps To Reproduce
Configure you project to use dbt-exasol adapter (available on https://pypi.org/project/dbt-exasol/) and then create an ephemeral model. Once you use that model in a ref dbt generates a CTE named "__dbt__CTE__" which is not a val

[2020-07-29 17:22] jtcohen6 commented on #2527
It occurs to me that deferring to artifacts generated by a different dbt version may have surprising effects, in the event that the manifests look quite different. That's:
- a caveat to document
- all the more reason we need to include dbt versions in _all_ generated artifacts, so we can raise a concrete warning

[2020-07-29 17:24] beckjake commented on #2527
I think this is not a "dbt version" situation, but actually a "schema version" situation.

[2020-07-29 17:28] jtcohen6 commented on #2527
I buy that. I don't think we have an issue yet open for adding "schema version" to all generated artifacts. I know it came up in our conversation about revising run results specifically.

[2020-07-29 17:49] jtcohen6 commented on #2660
* The quick, Exasol-friendly answer here is to remove the leading double underscore. I can think of at least [one thing](https://github.com/fishtown-analytics/dbt-utils/blob/dev/0.18.x/macros/cross_db_utils/_is_ephemeral.sql#L3) that would break, though it's an easy fix.
* I think the better answer, with an eye toward all the other idiosyncratic plugins, is to move `add_ephemeral_model_prefix` out

[2020-07-29 17:50] beckjake commented on #2660
I think the ideal solution to this is actually that dbt support a method or methods on the adapter for inserting CTEs that includes the question of "what prefix to use" as a sort of sub-problem. I think that involves

My reasoning here is that some databases don't support CTEs and only support subqueries, and while I don't imagine that behavior ever being a first-class citizen in dbt, it would be

[2020-07-29 18:02] tglunde commented on #2660
Created PR and also for dbt-utils to remove double underscore. This is indeed the quick fix.  Could we have this merged before  thinking of pushing the prefix decision into the adapter?

[2020-07-29 18:44] bessey commented on #2613
Ooh, thanks for linking to the source @ryano144, now I see there seems to be an alternative mechanism for Linux, I'll have to have a play with that

[2020-07-29 21:31] beckjake commented on #2660
I'm sorry, but I'm pretty reluctant to break `dbt_utils` (again) for a feature that would be a non-breaking change if we implemented it the way we want to implement it in the first place. I understand this is frustrating as a plugin author, and I agree that this is a change that should have been made a long time ago, but here we are. If I'd known about this dbt_utils behavior I would definitely ha

[2020-07-29 22:33] DylanBaker opened #2666 "rpc returns empty string values as null values"
### Describe the bug
When using the rpc (and dbt Cloud IDE where this was discovered), values that are empty strings are being returned and displayed as null values.

### Steps To Reproduce
Using the IDE or rpc, run `select '' and fun`. The following object is returned by the rpc:
[code]

### Expected behavior
I would expect a response that looks like:
[code]

### Screenshots and log output
If app

[2020-07-29 22:49] jtcohen6 commented on #2630
Closing because I believe this issue to be resolved in v0.17.1. Feel free to re-open if you're still running into trouble.

[2020-07-29 22:49] #2630 closed

[2020-07-29 23:05] jtcohen6 commented on #2492
I had incorrectly caused this issue to be closed by linking it to #2610, which was a prerequisite and not a resolution.

I am, however, going to close older issues that relate to refactoring the test suite / `dbt-integration-tests`, with the shared goal of easing the path for plugin development.

[2020-07-29 23:06] jtcohen6 commented on #2204
I'm going to close this in favor of the more-targeted #2492. We've already made solid progress there, and we plan to implement it ahead of `1.0.0`.

[2020-07-29 23:06] #2204 closed

[2020-07-29 23:07] jtcohen6 commented on #1685
I'm closing this in favor of #2492. `dbt-integration-tests` has had a good run, but it can't take us where we ultimately want to go.

[2020-07-29 23:07] #1685 closed

[2020-07-30 01:00] yu-iskw opened #2667 "tag based inclusion and exclusion with `dbt run`"
### Describe the feature
I would like to select run models by tags.
Consider if we have daily scheduled models and hourly based models in a dbt project. As well as, we tag them with `daily` or `hourly`. So, I want to separately run only hourly scheduled models from daily schedule models. One possible senario is to select models by the tag of `hourly`.

[code]

### Describe alternatives you've cons

[2020-07-30 07:07] yu-iskw commented on #2667
Sorry, I figured out the solution.
https://docs.getdbt.com/reference/resource-configs/tags/

[2020-07-30 07:07] #2667 closed

[2020-07-30 07:50] tglunde commented on #2660
Hi - I am not with you on this definition of breaking change versus
non-breaking change. Changing the adapter interface by adding a new,
required method is also a breaking change, is it not? dbt-utils will have
to be changed anyhow.

On Wed, Jul 29, 2020 at 11:32 PM Jacob Beck <notifications@github.com>
wrote:

--
Torsten Glunde
Chief Executive Officer (CEO)

Mobil: +49 (0)1702128934
torsten.glund

[2020-07-30 12:24] yu-iskw opened #2668 "Insert a BigQuery table only when the last modified timestamp is after a given timestamp"
### Describe the feature
The idea is probably very close to `dbt_utils.insert_by_period_materialization`, but I would like to decide to insert a BigQuery table. Because, a BigQuery table doesn't potentially any timestamp field. And even running queries just to get the information about the latest value is potentially costly.

And consider if a project has a hundred of models and it takes a long ti